@page "/task-list/{id:int}"
@model ApplyToBecomeInternal.Pages.BaseAcademyConversionProjectPageModel
@{
	ViewData["Title"] = "Task List";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		@section BeforeMain
		{
			<a asp-page="@Links.ProjectList.Index.Page" class="govuk-back-link">@Links.ProjectList.Index.BackText</a>
		}
		<partial name="_ProjectHeader" model="Model.Project" />
		
		<partial name="/Pages/Shared/_SubMenu.cshtml" model="new SubMenuViewModel(Model.Project.Id, SubMenuPage.TaskList)" />
	</div>
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-l govuk-!-margin-bottom-2">Task list</h2>
		<div class="govuk-body">
			<p>The task list will help you prepare for the headteacher board (HTB) meeting. You can complete the tasks in any order. </p>
			<p>Some of the information in each task is already pre-populated from TRAMS and the school's application form. Some of the information you will need to fill out yourself.</p>
		</div>
		<br>
		<h2 class="app-task-list__section">Local authority (LA) information template dates</h2>
		<ol class="app-task-list govuk-!-margin-bottom-8">
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					@if (Model.Project.LocalAuthorityInformationTemplateTaskListStatus.Equals(TaskListItemViewModel.NotStarted))
					{
						<a class="govuk-link" asp-page="@Links.LocalAuthorityInformationTemplateSection.RecordLocalAuthorityInformationTemplateDates.Page" asp-route-id="@Model.Project.Id" aria-describedby="LA-infromation-template">
							Record dates for the LA information template
						</a>
					}
					else
					{
						<a class="govuk-link" asp-page="@Links.LocalAuthorityInformationTemplateSection.ConfirmLocalAuthorityInformationTemplateDates.Page" asp-route-id="@Model.Project.Id" aria-describedby="LA-infromation-template">
							Record dates for the LA information template
						</a>
					}
				</span>
				<strong class="govuk-tag @Model.Project.LocalAuthorityInformationTemplateTaskListStatus.CssClass app-task-list__tag" id="la-info-template-status">@Model.Project.LocalAuthorityInformationTemplateTaskListStatus.Status</strong>
			</li>
		</ol>

		<h2 class="app-task-list__section">Create headteacher board (HTB) template</h2>
		<ol class="app-task-list govuk-!-margin-bottom-8" aria-label="list of tasks">
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" asp-page="@Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation.Page" asp-route-id="@Model.Project.Id" aria-describedby="project-overview">
						School and trust information and project dates
					</a>
				</span>
				<strong class="govuk-tag @Model.Project.SchoolAndTrustInformationTaskListStatus.CssClass app-task-list__tag" id="school-and-trust-information-status">
					@Model.Project.SchoolAndTrustInformationTaskListStatus.Status
				</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" asp-page="@Links.GeneralInformationSection.ConfirmGeneralInformation.Page" asp-route-id="@Model.Project.Id" aria-describedby="general-information">
						General information
					</a>
				</span>
				<strong class="govuk-tag @Model.Project.GeneralInformationTaskListStatus.CssClass app-task-list__tag" id="general-information-status">
					@Model.Project.GeneralInformationTaskListStatus.Status
				</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" asp-page="@Links.SchoolPerformance.Index.Page" asp-route-id="@Model.Project.Id" aria-describedby="school-performance">
						School performance (Ofsted information)
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="school-performance">Reference only</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" asp-page="@Links.RationaleSection.ConfirmProjectAndTrustRationale.Page" asp-route-id="@Model.Project.Id" aria-describedby="rationale-status">
						Rationale
					</a>
				</span>
				<strong class="govuk-tag @Model.Project.RationaleTaskListStatus.CssClass app-task-list__tag" id="rationale-status">
					@Model.Project.RationaleTaskListStatus.Status
				</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" asp-page="@Links.RisksAndIssuesSection.ConfirmRisksAndIssues.Page" asp-route-id="@Model.Project.Id" aria-describedby="risks-and-issues">
						Risks and issues
					</a>
				</span>
				<strong class="govuk-tag @Model.Project.RisksAndIssuesTaskListStatus.CssClass app-task-list__tag" id="risks-and-issues-status">
					@Model.Project.RisksAndIssuesTaskListStatus.Status
				</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" asp-page="@Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" aria-describedby="school-budget-information">
						School budget information
					</a>
				</span>
				<strong class="govuk-tag @Model.Project.SchoolBudgetInformationTaskListStatus.CssClass app-task-list__tag" id="school-budget-information-status">
					@Model.Project.SchoolBudgetInformationTaskListStatus.Status
				</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" asp-page="@Links.SchoolPupilForecastsSection.ConfirmSchoolPupilForecasts.Page" asp-route-id="@Model.Project.Id" aria-describedby="school-pupil-forecast">
						School pupil forecasts
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="school-pupil-forecasts-status">Reference only</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="performance-tables">
						Key stage (KS) performance tables
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="performance-tables">Reference only</strong>
			</li>
		</ol>
		<h2 class="app-task-list__section">
			Trust template
		</h2>
		<ol class="app-task-list govuk-!-margin-bottom-8">
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="sponsor-template">
						Check and edit the trust template
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="sponsor-template">Not Started</strong>
			</li>
		</ol>
		<h2 class="app-task-list__section">
			Preview and generate HTB template
		</h2>
		<a asp-page="@Links.TaskList.PreviewHTBTemplate.Page" asp-route-id="@Model.Project.Id" class="govuk-button govuk-!-margin-bottom-2">Preview HTB template</a>
	</div>
</div>
