@page "/task-list/{id:int}/preview-headteacher-board-template"
@model ApplyToBecomeInternal.Pages.TaskList.IndexModel

@{
	Model.ErrorPage = Links.TaskList.PreviewHTBTemplate.Page;
	ViewBag.Title = "Preview project template";
	ViewData["Return"] = Links.TaskList.PreviewHTBTemplate.Page;
	ViewData["IncludeFragment"] = true;
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.TaskList.Index" />
}

@if (Model.ShowGenerateHtbTemplateError)
{
	<partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">@Model.Project.SchoolName</span>
		<h1 class="govuk-heading-xl">
			Preview project template
		</h1>
	</div>
</div>

<h2 class="govuk-heading-s">School and trust information and project dates</h2>
<section class="app-summary-card govuk-!-margin-bottom-6">
	<header class="app-summary-card__header">
		<h2 class="app-summary-card__title">
			School and trust information and project date details
		</h2>
	</header>
	<div class="app-summary-card__body">
		<vc:school-and-trust-information />
	</div>
</section>

<h2 class="govuk-heading-s">General information</h2>
<section class="app-summary-card govuk-!-margin-bottom-6">
	<header class="app-summary-card__header">
		<h2 class="app-summary-card__title">
			General information details
		</h2>
	</header>
	<div class="app-summary-card__body">
		<vc:general-information />
	</div>
</section>

<h2 class="govuk-heading-s">School performance (Ofsted information)</h2>
<section class="app-summary-card govuk-!-margin-bottom-6">
	<header class="app-summary-card__header">
		<h2 class="app-summary-card__title">
			School performance (Ofsted information) details
		</h2>
	</header>
	<div class="app-summary-card__body">
		<vc:school-performance show-additional-information="true" />
	</div>
</section>

<h2 class="govuk-heading-s">Rationale</h2>
<section class="app-summary-card govuk-!-margin-bottom-6">
	<header class="app-summary-card__header">
		<h2 class="app-summary-card__title">
			Rationale details
		</h2>
	</header>
	<div class="app-summary-card__body">
		<dl class="govuk-summary-list">
			<govuk-summary-list-row name="rationale-for-project" key-width="@WidthOverride.OneQuarter" value-width="@WidthOverride.Full" label="Rationale for project" value="@Model.Project.RationaleForProject" asp-page="@Links.RationaleSection.RationaleForProject.Page" asp-route-id="@Model.Project.Id" hidden-text="project rationale" />
			<govuk-summary-list-row name="rationale-for-trust" key-width="@WidthOverride.OneQuarter" value-width="@WidthOverride.Full" label="Rationale for the trust or sponsor" value="@Model.Project.RationaleForTrust" asp-page="@Links.RationaleSection.RationaleForTrust.Page" asp-route-id="@Model.Project.Id" hidden-text="sponsor rationale" />
		</dl>
	</div>
</section>

<h2 class="govuk-heading-s">Risks and issues</h2>
<section class="app-summary-card govuk-!-margin-bottom-6">
	<header class="app-summary-card__header">
		<h2 class="app-summary-card__title">
			Risks and issues details
		</h2>
	</header>
	<div class="app-summary-card__body">
		<dl class="govuk-summary-list">
			<govuk-summary-list-row name="risks-and-issues" label="Risks and issues" value="@Model.Project.RisksAndIssues" asp-page="@Links.RisksAndIssuesSection.RisksAndIssues.Page" asp-route-id="@Model.Project.Id" hidden-text="risks and issues" />
			<govuk-summary-list-row name="equalities-impact-assessment-considered" label="Has an Equalities Impact Assessment been considered?" asp-for="Project.EqualitiesImpactAssessmentConsidered" />
		</dl>
	</div>
</section>

<h2 class="govuk-heading-s">School budget information</h2>
<section class="app-summary-card govuk-!-margin-bottom-6">
	<header class="app-summary-card__header">
		<h2 class="app-summary-card__title">
			School budget information details
		</h2>
	</header>
	<div class="app-summary-card__body">
		<dl class="govuk-summary-list">
			<govuk-summary-list-row name="finance-current-year-2021" label="Revenue carry forward at end-March (current year) 2021" key-width="@WidthOverride.TwoThirds" value="@Model.Project.RevenueCarryForwardAtEndMarchCurrentYear?.ToMoneyString(true)" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Revenue carry forward at end-March (current year) 2021" />
			<govuk-summary-list-row name="finance-following-year-2022" label="Projected revenue balance at end-March (following year) 2022" key-width="@WidthOverride.TwoThirds" value="@Model.Project.ProjectedRevenueBalanceAtEndMarchNextYear?.ToMoneyString(true)" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Projected revenue balance at end-March (following year) 2022" />
			<govuk-summary-list-row name="finance-forward-2021" label="Capital carry forward at end-March (current year)" key-width="@WidthOverride.TwoThirds" value="@Model.Project.CapitalCarryForwardAtEndMarchCurrentYear?.ToMoneyString(true)" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Capital carry forward at end-March (current year)" />
			<govuk-summary-list-row name="finance-forward-2022" label="Projected capital balance at end-March (following year)" key-width="@WidthOverride.TwoThirds" value="@Model.Project.CapitalCarryForwardAtEndMarchNextYear?.ToMoneyString(true)" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Projected capital balance at end-March (following year)" />
			<govuk-summary-list-row name="school-budget-information-additional-information" label="Additional information" key-width="@WidthOverride.TwoThirds" value="@Model.Project.SchoolBudgetInformationAdditionalInformation" asp-page="@Links.SchoolBudgetInformationSection.AdditionalInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="additional information" />
		</dl>
	</div>
</section>

<h2 class="govuk-heading-s">School pupil forecasts</h2>
<section class="app-summary-card govuk-!-margin-bottom-6">
	<header class="app-summary-card__header">
		<h2 class="app-summary-card__title">
			School pupil forecasts details
		</h2>
	</header>
	<div class="app-summary-card__body">
		<partial name="~/Pages/TaskList/SchoolPupilForecasts/_SchoolPupilForecastsTable.cshtml" model="Model.Project" />
		<dl class="govuk-summary-list">
			<govuk-summary-list-row name="school-pupil-forecasts-additional-information" label="Additional information" value="@Model.Project.SchoolPupilForecastsAdditionalInformation" asp-page="@Links.SchoolPupilForecastsSection.AdditionalInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="additional information" />
		</dl>
	</div>
</section>

@if (Model.TaskList.HasKeyStage2PerformanceTables)
{
	<h2 class="govuk-heading-s" id="key-stage-2-performance-tables">Key stage 2 performance tables</h2>
	<section class="app-summary-card govuk-!-margin-bottom-6">
		<header class="app-summary-card__header">
			<h2 class="app-summary-card__title">
				Key stage 2 performance tables details
			</h2>
		</header>
		<div class="app-summary-card__body">
			<vc:key-stage2-performance-tables />
			<dl class="govuk-summary-list">
				<govuk-summary-list-row name="key-stage-2-additional-information" label="Additional information" value="@Model.Project.KeyStage2PerformanceAdditionalInformation" asp-page="@Links.KeyStagePerformanceSection.KeyStage2PerformanceTablesAdditionalInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="additional information" />
			</dl>
		</div>
	</section>
}

@if (Model.TaskList.HasKeyStage4PerformanceTables)
{
	<h2 class="govuk-heading-s" id="key-stage-4-performance-tables">Key stage 4 performance tables</h2>
	<section class="app-summary-card govuk-!-margin-bottom-6">
		<header class="app-summary-card__header">
			<h2 class="app-summary-card__title">
				Key stage 4 performance tables details
			</h2>
		</header>
		<div class="app-summary-card__body">
			<vc:key-stage4-performance-tables />
			<dl class="govuk-summary-list">
				<govuk-summary-list-row name="key-stage-4-additional-information" label="Additional information" value="@Model.Project.KeyStage4PerformanceAdditionalInformation" asp-page="@Links.KeyStagePerformanceSection.KeyStage4PerformanceTablesAdditionalInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="additional information" />
			</dl>
		</div>
	</section>
}

@if (Model.TaskList.HasKeyStage5PerformanceTables)
{
	<h2 class="govuk-heading-s" id="key-stage-5-performance-tables">Key stage 5 performance tables</h2>
	<section class="app-summary-card govuk-!-margin-bottom-6">
		<header class="app-summary-card__header">
			<h2 class="app-summary-card__title">
				Key stage 5 performance tables details
			</h2>
		</header>
		<div class="app-summary-card__body">
			<vc:key-stage5-performance-tables />
			<dl class="govuk-summary-list">
				<govuk-summary-list-row name="key-stage-5-additional-information" label="Additional information" value="@Model.Project.KeyStage5PerformanceAdditionalInformation" asp-page="@Links.KeyStagePerformanceSection.KeyStage5PerformanceTablesAdditionalInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="additional information" />
			</dl>
		</div>
	</section>
}
<h2 class="govuk-heading-l">
	Generate project template
</h2>
<p class="govuk-body">Generate the project template into a Word document and download it.</p>
<a asp-page="@Links.TaskList.GenerateHTBTemplate.Page" asp-route-id="@Model.Project.Id" class="govuk-button govuk-!-margin-bottom-2">Generate project template</a>
