@model IEnumerable<KeyStage2PerformanceTableViewModel>
<div>
	@foreach (var vm in Model)
	{
		<table class="govuk-table govuk-!-margin-bottom-9">
			<caption class="govuk-table__caption govuk-table__caption--m">@vm.Year key stage 2</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header"></th>
					<th scope="col" class="govuk-table__header">Percentage meeting expected standard in reading, writing and maths</th>
					<th scope="col" class="govuk-table__header">Percentage achieving a higher standard in reading, writing and maths</th>
					<th scope="col" class="govuk-table__header">Reading progress scores</th>
					<th scope="col" class="govuk-table__header">Writing progress scores</th>
					<th scope="col" class="govuk-table__header">Maths progress scores</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
					<td class="govuk-table__cell" id="@(vm.Year + "-percentage-meeting-expected-in-rwm")">@vm.PercentageMeetingExpectedStdInRWM</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-percentage-achieving-higher-in-rwm")">@vm.PercentageAchievingHigherStdInRWM</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-reading-progress-score")">@vm.ReadingProgressScore</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-writing-progress-score")">@vm.WritingProgressScore</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-maths-progress-score")">@vm.MathsProgressScore</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
					<td class="govuk-table__cell" id="@(vm.Year + "-la-percentage-meeting-expected-in-rwm")">@vm.LAAveragePercentageMeetingExpectedStdInRWM</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-la-percentage-achieving-higher-in-rwm")">@vm.LAAveragePercentageAchievingHigherStdInRWM</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-la-reading-progress-score")">@vm.LAAverageReadingProgressScore</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-la-writing-progress-score")">@vm.LAAverageWritingProgressScore</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-la-maths-progress-score")">@vm.LAAverageMathsProgressScore</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">National average</th>
					<td class="govuk-table__cell" id="@(vm.Year + "-na-percentage-meeting-expected-in-rwm")">@vm.NationalAveragePercentageMeetingExpectedStdInRWM <br id="na-percentage-meeting-expected-in-rwm-disadvantaged"> (disadvantaged @vm.NationalAveragePercentageMeetingExpectedStdInRWMDisadvantaged)</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-na-percentage-achieving-higher-in-rwm")">@vm.NationalAveragePercentageAchievingHigherStdInRWM <br id="la-percentage-achieving-higher-in-rwm-disadvantaged"> (disadvantaged @vm.NationalAveragePercentageAchievingHigherStdInRWMDisadvantaged)</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-na-reading-progress-score")">@vm.NationalAverageReadingProgressScore</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-na-writing-progress-score")">@vm.NationalAverageWritingProgressScore</td>
					<td class="govuk-table__cell" id="@(vm.Year + "-na-maths-progress-score")">@vm.NationalAverageMathsProgressScore</td>
				</tr>
			</tbody>
		</table>
	}
</div>
