@model IEnumerable<KeyStage2PerformanceTableViewModel>
<div>
	@foreach (var vm in Model)
	{
		<table class="govuk-table govuk-!-margin-bottom-9">
			<caption class="govuk-table__caption govuk-table__caption--m">@vm.Year key stage 2</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header"></th>
					<th scope="col" class="govuk-table__header">Percentage meeting expected standard in reading, writing and maths</th>
					<th scope="col" class="govuk-table__header">Percentage achieving a higher standard in reading, writing and maths</th>
					<th scope="col" class="govuk-table__header">Reading progress scores</th>
					<th scope="col" class="govuk-table__header">Writing progress scores</th>
					<th scope="col" class="govuk-table__header">Maths progress scores</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
					<td class="govuk-table__cell">@vm.PercentageMeetingExpectedStdInRWM</td>
					<td class="govuk-table__cell">@vm.PercentageAchievingHigherStdInRWM </td>
					<td class="govuk-table__cell">@vm.ReadingProgressScore </td>
					<td class="govuk-table__cell">@vm.WritingProgressScore</td>
					<td class="govuk-table__cell">@vm.MathsProgressScore</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"]</th>
					<td class="govuk-table__cell">@vm.LAAveragePercentageMeetingExpectedStdInRWM</td>
					<td class="govuk-table__cell">@vm.LAAveragePercentageAchievingHigherStdInRWM</td>
					<td class="govuk-table__cell">@vm.LAAverageReadingProgressScore</td>
					<td class="govuk-table__cell">@vm.LAAverageWritingProgressScore</td>
					<td class="govuk-table__cell">@vm.LAAverageMathsProgressScore</td>
				</tr>
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">National average</th>
					<td class="govuk-table__cell">@vm.NationalAveragePercentageMeetingExpectedStdInRWM <br> (disadvantaged @vm.NationalAveragePercentageMeetingExpectedStdInRWMDisadvantaged)</td>
					<td class="govuk-table__cell">@vm.NationalAveragePercentageAchievingHigherStdInRWM <br> (disadvantaged @vm.NationalAveragePercentageAchievingHigherStdInRWMDisadvantaged)</td>
					<td class="govuk-table__cell"></td>
					<td class="govuk-table__cell"></td>
					<td class="govuk-table__cell"></td>
				</tr>
			</tbody>
		</table>
	}
</div>
