@model ApplyToBecomeInternal.ViewModels.ProjectViewModel

@functions
{
	public string CalulatePercentageFull(int? capacity, int? pupilNumbers)
	{
		if (!capacity.HasValue || !pupilNumbers.HasValue)
		{
			return "";
		}
		return string.Format("{0:F0}%", 100 / capacity * pupilNumbers);
	}
}

<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Year</th>
			<th scope="col" class="govuk-table__header govuk-table__header--numeric">Capacity</th>
			<th scope="col" class="govuk-table__header govuk-table__header--numeric">Total pupil numbers</th>
			<th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage full</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header ">Current year</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.CurrentYearCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.CurrentYearPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@CalulatePercentageFull(Model.CurrentYearCapacity, Model.CurrentYearPupilNumbers)</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">2021 to 2022 forecast</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearOneProjectedCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearOneProjectedPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@CalulatePercentageFull(Model.YearOneProjectedCapacity, Model.YearOneProjectedPupilNumbers)</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">2022 to 2023 forecast</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearTwoProjectedCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearTwoProjectedPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@CalulatePercentageFull(Model.YearTwoProjectedCapacity, Model.YearTwoProjectedPupilNumbers)</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">2023 to 2024 forecast</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearThreeProjectedCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearThreeProjectedPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@CalulatePercentageFull(Model.YearThreeProjectedCapacity, Model.YearThreeProjectedPupilNumbers)</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">2023 to 2024 forecast</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearFourProjectedCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearFourProjectedPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@CalulatePercentageFull(Model.YearFourProjectedCapacity, Model.YearFourProjectedPupilNumbers)</td>
		</tr>
	</tbody>
</table>