@model ApplyToBecomeInternal.ViewModels.ProjectViewModel

<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Year</th>
			<th scope="col" class="govuk-table__header govuk-table__header--numeric">Capacity</th>
			<th scope="col" class="govuk-table__header govuk-table__header--numeric">Total pupil numbers</th>
			<th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage full</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header ">Current year</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.CurrentYearCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.CurrentYearPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.CurrentYearPupilNumbers.AsPercentageOf(Model.CurrentYearCapacity)</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">2021 to 2022 forecast</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearOneProjectedCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearOneProjectedPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearOneProjectedPupilNumbers.AsPercentageOf(Model.YearOneProjectedCapacity)</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">2022 to 2023 forecast</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearTwoProjectedCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearTwoProjectedPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearTwoProjectedPupilNumbers.AsPercentageOf(Model.YearTwoProjectedCapacity)</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">2023 to 2024 forecast</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearThreeProjectedCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearThreeProjectedPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearThreeProjectedPupilNumbers.AsPercentageOf(Model.YearThreeProjectedCapacity)</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">2023 to 2024 forecast</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearFourProjectedCapacity</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearFourProjectedPupilNumbers</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearFourProjectedPupilNumbers.AsPercentageOf(Model.YearFourProjectedCapacity)</td>
		</tr>
	</tbody>
</table>