@using ApplyToBecomeInternal.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ApplyToBecomeInternal.ViewModels.ProjectViewModel
@inject ApplyToBecome.Data.Services.Interfaces.IAcademyConversionAdvisoryBoardDecisionRepository decisionRepository
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">URN @Model.SchoolURN</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" @Select.Heading.ToData("cy")>
            @Model.SchoolName
        </h1>
	    <p class="govuk-body govuk-!-margin-bottom-8">
		    Delivery officer: 
      
		    <span class="empty">Empty</span>

            <a class="govuk-link" asp-page="@Links.ProjectAssignment.Index.Page" asp-route-id="@Model.Id" style="margin-left: 1em;">Change</a>
	    </p>
    </div>
    @if (!string.IsNullOrEmpty(Context.Request.Query["rd"]))
    {

        @(await Component.InvokeAsync("RecordDecisionPreview", new { id = int.Parse(Model.Id) }))
    }
    <div class="govuk-grid-column-full">
        <partial name="_SubMenu" />

    </div>
</div>
