@using ApplyToBecomeInternal.ViewModels
@model ApplyToBecomeInternal.ViewModels.SubMenuViewModel;

<nav class="moj-sub-navigation" aria-label="Sub navigation">
	<ul class="moj-sub-navigation__list">
		<li class="moj-sub-navigation__item">
			<sub-menu-link class="moj-sub-navigation__link"
					  asp-page="/TaskList/Index"
					  asp-route-id="@Model.ProjectId"
					  highlighted="@Model.Page == SubMenuPage.TaskList"
					  >
				Task list
			</sub-menu-link>
		</li>
		<li class="moj-sub-navigation__item">
			<sub-menu-link class="moj-sub-navigation__link"
					  asp-page="/ApplicationForm/Index" 
					  asp-route-id="@Model.ProjectId"
					  highlighted="@Model.Page == SubMenuPage.SchoolApplicationForm"
					  >
				School application form
			</sub-menu-link>
		</li>
		<li class="moj-sub-navigation__item">
			<sub-menu-link class="moj-sub-navigation__link"
					  asp-page="/ProjectNotes/Index" 
					  asp-route-id="@Model.ProjectId"
					  highlighted="@Model.Page == SubMenuPage.ProjectNotes"
					  >
				Project notes
			</sub-menu-link>
		</li>

	</ul>
</nav>