@model ApplyToBecomeInternal.ViewModels.SummaryListRowViewModel
<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key @(Model.AltLayout ? "govuk-!-width-one-quarter" : "")">
		@Model.Key
	</dt>
	<dd class="govuk-summary-list__value @(Model.AltLayout ? "govuk-!-width-full" : "")">
		@if (!Model.IsEmpty)
		{
			<span id="@Model.Id">@Model.Value</span>
		}
		else
		{
			<span id="@Model.Id-empty" class="empty">Empty</span>
		}
	</dd>
	<dd class="govuk-summary-list__actions">
		@if (!string.IsNullOrEmpty(Model.Page) && !string.IsNullOrEmpty(Model.RouteId))
		{
			<a class="govuk-link" asp-page="@Model.Page" asp-route-id="@Model.RouteId">
				Change<span class="govuk-visually-hidden">@Model.HiddenText</span>
			</a>
		}
	</dd>
</div>