@model ApplyToBecomeInternal.ViewModels.SummaryListRowViewModel
<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key @Model.KeyWidth">
		@Model.Key
	</dt>
	<dd class="govuk-summary-list__value @Model.ValueWidth">
		@if (!Model.IsEmpty)
		{
			<span id="@Model.Id">@Model.Value</span>
		}
		else
		{
			<span id="@Model.Id" class="empty">Empty</span>
		}
	</dd>
	<dd class="govuk-summary-list__actions">
		@if (!string.IsNullOrEmpty(Model.Page) && !string.IsNullOrEmpty(Model.RouteId))
		{
			if (ViewData["IncludeFragment"] is bool includeFragment && includeFragment)
			{
				<a class="govuk-link" asp-page="@Model.Page" asp-route-id="@Model.RouteId" asp-route-return="@Model.Return" asp-route-fragment="@Model.Id">
					Change<span class="govuk-visually-hidden">@Model.HiddenText</span>
				</a>
			}
			else
			{
				<a class="govuk-link" asp-page="@Model.Page" asp-route-id="@Model.RouteId" asp-route-return="@Model.Return">
					Change<span class="govuk-visually-hidden">@Model.HiddenText</span>
				</a>
			}
		}
	</dd>
</div>