@model ApplyToBecomeInternal.ViewModels.TextAreaInputViewModel
@{
	var showError = !string.IsNullOrWhiteSpace(Model.ErrorMessage);
}
<div class="govuk-form-group @(showError ? "govuk-form-group--error" : "")">
	@if (!string.IsNullOrWhiteSpace(Model.Label))
	{
		<label class="govuk-label" for="@Model.Id">
			@Model.Label
		</label>
	}

	@if (showError)
	{
		<span id="@Model.Id-error" class="govuk-error-message">
			<span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
		</span>
	}
	<textarea class="govuk-textarea @(showError ? "govuk-textarea--error" : "")"
			  id="@Model.Id"
			  name="@Model.Name"
			  rows="@Model.Rows">@Model.Value</textarea>
</div>