@page "/task-list/{id:int}/public-sector-equality-duty-reason"

@model Dfe.PrepareConversions.Pages.TaskList.PublicSectorEqualityDuty.Conversion.ImpactReductionReasonModel

@{
    ViewData["Title"] = (ViewData.ModelState.IsValid ? "" : "Error: ") + "Decide what will be done to reduce the impact";
    Layout = "_QuestionLayout";
    ViewData["AcademyTypeAndRoute"] = Model.Project.AcademyTypeAndRoute;
}

@section BeforeMain
{
    <govuk-back-link link-item="@Links.PublicSectorEqualityDutySection.ConversionTask" />
}

<div class="govuk-form-group">
    <span class="govuk-caption-l" data-cy="psed-school-name">@Model.Project.SchoolName</span>
    <h1 class="govuk-heading-l">
        Public Sector Equality Duty
    </h1>

    <div class="govuk-form-group @ModelState.GetErrorStyleClass()" id="reason">
        <h1 class="govuk-heading-l" data-cy="psed-heading">What will be done to reduce this impact?</h1>

        <div id="hint" class="govuk-hint">Briefly outline any actions or policies that were included in the Equality Impact Assessment</div>

        <inline-error for="@nameof(Model.Reason)" />

        <textarea asp-for="@Model.Reason"
                  data-cy="psed-impact-reason-input"
                  class="govuk-textarea @ModelState.GetTextAreaErrorStyles(nameof(Model.Reason))"
                  rows="5"
                  aria-label="text-area-psed-impact-reason">
        </textarea>
    </div>
</div>
