@page "/task-list/{id:int}/diocese-consent"
@using ApplyToBecome.Data.Models.AcademyConversion
@using ApplyToBecomeInternal.Pages.TaskList.LegalRequirements.Helpers
@using ApplyToBecomeInternal.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ApplyToBecomeInternal.Pages.TaskList.LegalRequirements.LegalDiocesanConsentModel

@section BeforeMain
{
	<a asp-page="@Links.LegalRequirements.Summary.Page" asp-route-id="@Model.Id" class="govuk-back-link" data-cy="@ProjectPage.BackLink">Back</a>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<input hidden="" type="text" name="returnToSummary" value="no">
			<span class="govuk-caption-l" @ProjectPage.SchoolName.ToData("cy")>@Model.SchoolName</span>
			<h1 class="govuk-heading-l" @ProjectPage.Heading.ToData("cy")>Have the diocese given consent for this conversion?</h1>

			<div class="govuk-form-group">
				<div class="govuk-radios">
					<div class="govuk-radios__item">
						<input asp-for="Approved" class="govuk-radios__input" type="radio" value="@nameof(ThreeOptions.Yes)" id="ApprovedYes" data-cy="@ProjectPage.Legal.Input.Yes">
						<label class="govuk-label govuk-radios__label" for="ApprovedYes">
							Yes
						</label>
					</div>

					<div class="govuk-radios__item">
						<input asp-for="Approved" class="govuk-radios__input" type="radio" value="@nameof(ThreeOptions.No)" id="ApprovedNo" data-cy="@ProjectPage.Legal.Input.No">
						<label class="govuk-label govuk-radios__label" for="ApprovedNo">
							No
						</label>
					</div>

					<div class="govuk-radios__item">
						<input asp-for="Approved" class="govuk-radios__input" type="radio" value="@nameof(ThreeOptions.NotApplicable)" id="ApprovedNotApplicable" data-cy="@ProjectPage.Legal.Input.NotApplicable">
						<label class="govuk-label govuk-radios__label" for="ApprovedNotApplicable">
							Not applicable
						</label>
					</div>
				</div>
			</div>

			<button class="govuk-button" data-module="govuk-button" @ProjectPage.Legal.Input.SaveAndContinue.ToData("cy")>
				Save and continue
			</button>
		</form>
	</div>

	<!-- right hand nav -->
	<div class="govuk-grid-column-one-third">
		<aside class="app-related-items" role="complementary">
			<h2 class="govuk-heading-s" id="subsection-title">
				Useful information
			</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
				<ul class="govuk-list govuk-!-font-size-16">
					<li>
						<a class="govuk-link" href="#">

						</a>
					</li>
					<li>
						<p class="govuk-body-s">
							<a href="#" target="application">
								School
								application form (opens in a new tab)
							</a>
						</p>
					</li>
				</ul>
			</nav>
		</aside>
	</div>
</div>