@page "/task-list/{id:int}/legal-requirements/legal-summary"
@using ApplyToBecomeInternal.Utils
@using ApplyToBecomeInternal.Pages.TaskList.LegalRequirements.Helpers
@model ApplyToBecomeInternal.Pages.TaskList.LegalRequirements.LegalSummaryModel

@section BeforeMain
{
	<a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.Id" class="govuk-back-link" data-cy="@Legal.BackLink">Back to task list</a>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-l" @Legal.SchoolName.ToData("cy")>@Model.SchoolName</span>
		<h1 class="govuk-heading-l" @Legal.PageHeader.ToData("cy")>Confirm legal requirements</h1>

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Governing body resolution
				</dt>
				<dd class="govuk-summary-list__value">
					@if (Model.LegalRequirements.GoverningBodyApproved.HasValue)
					{
						<span @Legal.Summary.GoverningBody.Status.ToData("cy")>@Model.LegalRequirements.GoverningBodyApproved.ToDescription()</span>
					}
					else
					{
						<span class="empty" @Legal.Summary.GoverningBody.Status.ToData("cy")>Empty</span>
					}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a asp-page="@Links.LegalRequirements.GoverningBodyResolution.Page" asp-route-id="@Model.Id" class="govuk-link" data-cy="@Legal.Summary.GoverningBody.Change">
						Change<span class="govuk-visually-hidden"> governing body resolution</span>
					</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Consultation
				</dt>
				<dd class="govuk-summary-list__value">
					@if (Model.LegalRequirements.ConsultationDone.HasValue)
					{
						<span @Legal.Summary.Consultation.Status.ToData("cy")>@Model.LegalRequirements.ConsultationDone.ToDescription()</span>
					}
					else
					{
						<span class="empty" @Legal.Summary.Consultation.Status.ToData("cy")>Empty</span>
					}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a asp-page="@Links.LegalRequirements.Consultation.Page" asp-route-id="@Model.Id" class="govuk-link" data-cy="@Legal.Summary.Consultation.Change">
						Change<span class="govuk-visually-hidden"> consultation</span>
					</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Diocesan consent
				</dt>
				<dd class="govuk-summary-list__value">
					@if (Model.LegalRequirements.DiocesanConsent.HasValue)
					{
						<span @Legal.Summary.DiocesanConsent.Status.ToData("cy")>@Model.LegalRequirements.DiocesanConsent.ToDescription()</span>
					}
					else
					{
						<span class="empty" @Legal.Summary.DiocesanConsent.Status.ToData("cy")>Empty</span>
					}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a asp-page="@Links.LegalRequirements.DiocesanConsent.Page" asp-route-id="@Model.Id" class="govuk-link" data-cy="@Legal.Summary.DiocesanConsent.Change">
						Change<span class="govuk-visually-hidden"> diocesan consent</span>
					</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Foundation consent
				</dt>
				<dd class="govuk-summary-list__value">
					@if (Model.LegalRequirements.FoundationConsent.HasValue)
					{
						<span @Legal.Summary.FoundationConsent.Status.ToData("cy")>@Model.LegalRequirements.FoundationConsent.ToDescription()</span>
					}
					else
					{
						<span class="empty" @Legal.Summary.FoundationConsent.Status.ToData("cy")>Empty</span>
					}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a asp-page="@Links.LegalRequirements.FoundationConsent.Page" asp-route-id="@Model.Id" class="govuk-link" data-cy="@Legal.Summary.FoundationConsent.Change">
						Change<span class="govuk-visually-hidden"> foundation consent</span>
					</a>
				</dd>
			</div>
		</dl>

		<form method="post">
			<div class="govuk-form-group">
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input asp-for="@Model.IsComplete" class="govuk-checkboxes__input" type="checkbox" data-cy="@Legal.Summary.IsComplete">
						<label asp-for="@Model.IsComplete" class="govuk-label govuk-checkboxes__label">
							Mark this section as complete, you can still make changes later
						</label>
					</div>
				</div>
			</div>

			<button class="govuk-button" data-module="govuk-button" @Legal.Summary.SubmitButton.ToData("cy")>
				Confirm and continue
			</button>
		</form>
	</div>
</div>