@page "/task-list/{id:int}/legal-requirements"
@using ApplyToBecomeInternal.Utils
@using ApplyToBecomeInternal.Pages.TaskList.LegalRequirements.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ApplyToBecomeInternal.Pages.TaskList.LegalRequirements.LegalSummaryModel

@section BeforeMain
{
	<a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.Id" class="govuk-back-link" data-cy="@Select.BackLink">Back to task list</a>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-l" @Select.SchoolName.ToData("cy")>@Model.SchoolName</span>
		<h1 class="govuk-heading-l" @Select.Heading.ToData("cy")>Confirm legal requirements</h1>

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Governing body resolution
				</dt>
				<dd class="govuk-summary-list__value">
					@if (Model.Requirements.GoverningBodyApproved.HasValue)
					{
                        <span id="governing-body-approved" @Select.Legal.Summary.GoverningBody.Status.ToData("cy")>@Model.Requirements.GoverningBodyApproved.ToDescription()</span>
					}
					else
					{
						<span id="governing-body-approved" class="empty" @Select.Legal.Summary.GoverningBody.Status.ToData("cy")>Empty</span>
					}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a asp-page="@Links.LegalRequirements.GoverningBodyResolution.Page" asp-route-id="@Model.Id" class="govuk-link" data-cy="@Select.Legal.Summary.GoverningBody.Change">
						Change<span class="govuk-visually-hidden"> governing body resolution</span>
					</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Consultation
				</dt>
				<dd class="govuk-summary-list__value">
					@if (Model.Requirements.ConsultationDone.HasValue)
					{
                        <span id="consultation" @Select.Legal.Summary.Consultation.Status.ToData("cy")>@Model.Requirements.ConsultationDone.ToDescription()</span>
					}
					else
					{
						<span id="consultation" class="empty" @Select.Legal.Summary.Consultation.Status.ToData("cy")>Empty</span>
					}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a asp-page="@Links.LegalRequirements.Consultation.Page" asp-route-id="@Model.Id" class="govuk-link" data-cy="@Select.Legal.Summary.Consultation.Change">
						Change<span class="govuk-visually-hidden"> consultation</span>
					</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Diocesan consent
				</dt>
				<dd class="govuk-summary-list__value">
					@if (Model.Requirements.DiocesanConsent.HasValue)
					{
                        <span id="diocesan-consent" @Select.Legal.Summary.DiocesanConsent.Status.ToData("cy")>@Model.Requirements.DiocesanConsent.ToDescription()</span>
					}
					else
					{
                        <span id="diocesan-consent" class="empty" @Select.Legal.Summary.DiocesanConsent.Status.ToData("cy")>Empty</span>
					}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a asp-page="@Links.LegalRequirements.DiocesanConsent.Page" asp-route-id="@Model.Id" class="govuk-link" data-cy="@Select.Legal.Summary.DiocesanConsent.Change">
						Change<span class="govuk-visually-hidden"> diocesan consent</span>
					</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Foundation consent
				</dt>
				<dd class="govuk-summary-list__value">
					@if (Model.Requirements.FoundationConsent.HasValue)
					{
						<span id="foundation-consent" @Select.Legal.Summary.FoundationConsent.Status.ToData("cy")>@Model.Requirements.FoundationConsent.ToDescription()</span>
					}
					else
					{
						<span id="foundation-consent" class="empty" @Select.Legal.Summary.FoundationConsent.Status.ToData("cy")>Empty</span>
					}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a asp-page="@Links.LegalRequirements.FoundationConsent.Page" asp-route-id="@Model.Id" class="govuk-link" data-cy="@Select.Legal.Summary.FoundationConsent.Change">
						Change<span class="govuk-visually-hidden"> foundation consent</span>
					</a>
				</dd>
			</div>
		</dl>

		<form method="post">
			<div class="govuk-form-group">
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
                        <input asp-for="@Model.IsComplete" class="govuk-checkboxes__input" type="checkbox" data-cy="@Select.Legal.Summary.IsComplete" id="legal-requirements-complete">
						<label asp-for="@Model.IsComplete" class="govuk-label govuk-checkboxes__label">
							Mark this section as complete, you can still make changes later
						</label>
					</div>
				</div>
			</div>

			<button class="govuk-button" data-module="govuk-button" @Select.Legal.Summary.SubmitButton.ToData("cy")>
				Confirm and continue
			</button>
		</form>
	</div>
</div>