@page "/start-new-project/check-school-trust-details"
@using Dfe.PrepareConversions.Pages.Shared
@using System.Globalization
@using Dfe.Academisation.ExtensionMethods
@using Dfe.PrepareConversions.Pages.SponsoredProject
@model Dfe.PrepareConversions.Pages.SponsoredProject.SummaryModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Check school and trust details";

    var routeParams = new Dictionary<string, string>
   {
      { "urn", Model.Establishment.Urn },
      { "hasSchoolApplied", Model.HasSchoolApplied },
      { "ukprn", Model.Trust?.Ukprn },
      { "isFormAMat", Model.IsFormAMat}
   };

    var backLinkRouteParams = new Dictionary<string, string>
   {
      { "urn", Model.Establishment.Urn },
      { "ukprn", Model.Trust?.Ukprn },
      { "hasSchoolApplied", Model.HasSchoolApplied },
      { "redirect", Links.NewProject.Summary.Page },
      { "isFormAMat", Model.IsFormAMat}
   };

    var backLink = SummaryModel.DetermineBackLink(Model.HasSchoolApplied?.ToLower().Equals("yes") ?? false, Model.HasPreferredTrust?.ToLower().Equals("yes") ?? false, Model.ProposedTrustName is not null);
}

@section BeforeMain
{
    <partial name="_BackLink" model="@(new BackLink(backLink, routeParams))" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Check school and trust details
        </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            School
        </h2>
    </div>

    <div class="govuk-grid-column-full">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value" data-cy="school-name">
                    @Model.Establishment.Name
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a asp-page="@Links.NewProject.SearchSchool.Page" class="govuk-link" data-cy="change-school"
                       asp-all-route-data="@backLinkRouteParams">
                        Change<span class="govuk-visually-hidden">School name</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    URN
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Establishment.Urn
                </dd>
                <dd class="govuk-summary-list__value"></dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Local authority
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Establishment.LocalAuthorityName
                </dd>
                <dd class="govuk-summary-list__value"></dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    School type
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Establishment.EstablishmentType.Name
                </dd>
                <dd class="govuk-summary-list__value"></dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Faith school
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Establishment.ReligiousCharacter.Name
                </dd>
                <dd class="govuk-summary-list__value"></dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Ofsted rating
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.Establishment.OfstedRating ?? "Not available")
                </dd>
                <dd class="govuk-summary-list__value"></dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last inspection
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (string.IsNullOrEmpty(Model.Establishment.OfstedLastInspection))
                    {
                        <span>Not available</span>
                    }
                    else
                    {
                        @DateTime.ParseExact(Model.Establishment.OfstedLastInspection, "dd-mm-yyyy", CultureInfo.CurrentCulture).ToDateString()
                    }
                </dd>
                <dd class="govuk-summary-list__value"></dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    PFI (private finance initiative)
                </dt>
                <dd class="govuk-summary-list__value">@(Model.Establishment?.Pfi ?? "Does not apply")</dd>
                <dd class="govuk-summary-list__value"></dd>
            </div>

        </dl>
    </div>
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
            Conversion details
        </h2>
    </div>
    <div class="govuk-grid-column-full">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Did the school apply to convert?
                </dt>
                <dd class="govuk-summary-list__value" data-cy="school-apply">
                    @Model.HasSchoolApplied
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a asp-page="@Links.NewProject.SchoolApply.Page" class="govuk-link" data-cy="change-school-apply"
                       asp-all-route-data="@backLinkRouteParams">
                        Change<span class="govuk-visually-hidden">Trust name</span>
                    </a>
                </dd>
            </div>
            @* Is this conversion part of a FAM? *@
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is this conversion part of the formation of a new trust?
                </dt>
                <dd class="govuk-summary-list__value" data-cy="school-apply">
                    @Model.IsFormAMat.ToSentenceCase()
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
            </div>

            @* Is the project already in prepare? *@
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is the form a MAT/SAT project already in Prepare?
                </dt>
                <dd class="govuk-summary-list__value" data-cy="school-apply">
                    @Model.IsProjectInPrepare.ToSentenceCase()
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
            </div>
   
            @if (Model.HasSchoolApplied.ToLower().Equals("no") && Model.IsFormAMat.ToLower().Equals("no"))
            {
                <div class="govuk-summary-list__row" vis>
                    <dt class="govuk-summary-list__key">
                        Is there a preferred trust for this school?
                    </dt>
                    <dd class="govuk-summary-list__value" data-cy="school-apply">
                        @Model.HasPreferredTrust
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            }
        </dl>
      </div>

    @if (Model.Trust != null)
    {
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">
                Incoming trust
            </h2>
        </div>

        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value" data-cy="trust-name">
                        @Model.Trust.Name
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a asp-page="@Links.NewProject.SearchTrusts.Page" class="govuk-link" data-cy="change-trust"
                           asp-all-route-data="@backLinkRouteParams">
                            Change<span class="govuk-visually-hidden">Trust name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        UKPRN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Trust.Ukprn
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Companies House Number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Trust.CompaniesHouseNumber
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

            </dl>

        </div>
    }

    @if (Model.IsFormAMat != null)
    {
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">
                Incoming trust
            </h2>
        </div>

        <div class="govuk-grid-column-full">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ProposedTrustName
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
                @if (Model.FamReference != null)
                {
                    <div class="govuk-summary-list__row" isv>
                        <dt class="govuk-summary-list__key">
                        FAM Reference
                    </dt>
                    <dd class="govuk-summary-list__value" data-cy="a2b-reference">
                        @Model.FamReference
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a asp-page="@Links.NewProject.LinkFormAMatProject.Page" class="govuk-link" data-cy="change-fam-reference"
                           asp-all-route-data="@backLinkRouteParams">
                            Change<span class="govuk-visually-hidden">FAM reference</span>
                        </a>
                    </dd>
                </div>
                }
                @if (Model.ApplicationReference != null)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        A2B Reference
                    </dt>
                    <dd class="govuk-summary-list__value" data-cy="a2b-reference">
                        @Model.ApplicationReference
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a asp-page="@Links.NewProject.LinkFormAMatProject.Page" class="govuk-link" data-cy="change-a2b-reference"
                           asp-all-route-data="@backLinkRouteParams">
                            Change<span class="govuk-visually-hidden">A2B reference</span>
                        </a>
                    </dd>
                </div>
                }

            </dl>

        </div>
    }



   </div>

<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
        <form method="post">
            <input type="hidden" value="@Model.Establishment.Urn" />
            <input type="hidden" value="@Model.Trust?.Ukprn" />
            <button class="govuk-button" type="submit" data-id="submit">Continue</button>
        </form>
    </div>
</div>