@page "/task-list/{id:int}/school-performance-ofsted-information"
@using Dfe.PrepareConversions.TagHelpers
@model Dfe.PrepareConversions.Pages.BaseAcademyConversionProjectPageModel
@{
   ViewData["Title"] = "School performance (Ofsted information)";
}

@section BeforeMain
{
   <govuk-back-link data-cy="ofsted-info-back-btn" link-item="@Links.TaskList.Index"/>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">@Model.Project.SchoolName</span>
      <h1 class="govuk-heading-l">School performance (Ofsted information)</h1>
        @if (Model.Project.IsReadOnly)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Project approved
                    </p>
                    <p class="govuk-body">
                        This project was approved and moved to Complete conversions transfers and changes on @Model.Project.ApplicationReceivedDate.
                    </p>
                    @if (Model.Project.IsVoluntary)
                    {
                        <p class="govuk-body">
                            You can only <a class="govuk-link" data-test="change-ao-sent-date-link" asp-page="@Links.Decision.AcademyOrderDate.Page" asp-route-id="@Model.Project.Id" asp-route-returnUrl="@Links.SchoolPerformance.ConfirmSchoolPerformance.Page" id="change-ao-date-btn">
                                enter or change the date the academy order was sent
                            </a> to this school. All other information is locked.
                        </p>
                    }
                    else
                    {
                        <p class="govuk-body">
                            You cannot make changes to this project in Prepare.
                        </p>
                    }
                </div>
            </div>
        }
        <p class="govuk-body">This information comes from TRAMS. It is for reference only. It will not appear in the project document.</p>
      <br>
   </div>
   <div class="govuk-grid-column-full">
      @await Component.InvokeAsync("SchoolPerformance", new { showAdditionalInformation = false, isPreview = false })
   </div>
</div>