@model KeyStage4PerformanceTableViewModel

<h2 class="govuk-heading-l">
    Attainment 8
</h2>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Attainment 8 scores</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
	    <th scope="col" class="govuk-table__header"></th>
	    <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
	    <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
	    @* disadvantaged *@
	    <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
	    <td class="govuk-table__cell" id="attainment8-two-years-ago">@Model.SipAttainment8ScoreTwoYearsAgo <br id="attainment8-disadvantaged-two-years-ago-">(disadvantaged @Model.SipAttainment8ScoreDisadvantagedTwoYearsAgo)</td>
	    <td class="govuk-table__cell" id="attainment8-previous-year">@Model.SipAttainment8ScorePreviousYear <br id="attainment8-disadvantaged-previous-year">(disadvantaged @Model.SipAttainment8ScoreDisadvantagedPreviousYear)</td>
	    <td class="govuk-table__cell" id="attainment8">@Model.SipAttainment8Score</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell" id="na-attainment8-two-years-ago">@Model.NationalAverageAttainment8ScoreTwoYearsAgo <br id="na-attainment8-disadvantaged-two-years-ago">(disadvantaged @Model.NationalAverageAttainment8ScoreDisadvantagedTwoYearsAgo)</td>
        <td class="govuk-table__cell" id="na-attainment8-previous-year">@Model.NationalAverageAttainment8ScorePreviousYear <br id="na-attainment8-disadvantaged-previous-year">(disadvantaged @Model.NationalAverageAttainment8ScoreDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="na-attainment8">@Model.NationalAverageAttainment8Score <br id="na-attainment8-disadvantaged">(disadvantaged @Model.NationalAverageAttainment8ScoreDisadvantaged)</td>
    </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Attainment 8 English</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
        <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
        <td class="govuk-table__cell" id="attainment8-english-two-years-ago">@Model.SipAttainment8ScoreEnglishTwoYearsAgo</td>
        <td class="govuk-table__cell" id="attainment8-english-previous-year">@Model.SipAttainment8ScoreEnglishPreviousYear <br id="attainment8-english-disadvantaged-previous-year">(disadvantaged @Model.SipAttainment8ScoreEnglishDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="attainment8-english">@Model.SipAttainment8ScoreEnglish <br id="attainment8-english-disadvantaged">(disadvantaged @Model.SipAttainment8ScoreEnglishDisadvantaged)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
		<td class="govuk-table__cell" id="na-attainment8-english-two-years-ago">@Model.NationalAverageAttainment8EnglishTwoYearsAgo</td>
        <td class="govuk-table__cell" id="na-attainment8-english-previous-year">@Model.NationalAverageAttainment8EnglishPreviousYear <br id="na-attainment8-english-disadvantaged-previous-year">(disadvantaged @Model.NationalAverageAttainment8EnglishDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="na-attainment8-english">@Model.NationalAverageAttainment8English <br id="na-attainment8-english-disadvantaged">(disadvantaged @Model.NationalAverageAttainment8EnglishDisadvantaged)</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Attainment 8 Maths</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
        <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
        <td class="govuk-table__cell" id="attainment8-maths-two-years-ago">@Model.SipAttainment8ScoreMathsTwoYearsAgo <br id="attainment8-maths-disadvantaged-two-years-ago">(disadvantaged @Model.SipAttainment8ScoreMathsDisadvantagedTwoYearsAgo)</td>
        <td class="govuk-table__cell" id="attainment8-maths-previous-year">@Model.SipAttainment8ScoreMathsPreviousYear <br id="attainment8-maths-disadvantaged-previous-year">(disadvantaged @Model.SipAttainment8ScoreMathsDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="attainment8-maths">@Model.SipAttainment8ScoreMaths</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
		<td class="govuk-table__cell" id="na-attainment8-maths-two-years-ago">@Model.NationalAverageAttainment8MathsTwoYearsAgo <br id="na-attainment8-maths-disadvantaged-two-years-ago">(disadvantaged @Model.NationalAverageAttainment8MathsDisadvantagedTwoYearsAgo)</td>
        <td class="govuk-table__cell" id="na-attainment8-maths-previous-year">@Model.NationalAverageAttainment8MathsPreviousYear <br id="na-attainment8-maths-disadvantaged-previous-year">(disadvantaged @Model.NationalAverageAttainment8MathsDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="na-attainment8-maths">@Model.NationalAverageAttainment8Maths <br id="na-attainment8-maths-disadvantaged">(disadvantaged @Model.NationalAverageAttainment8MathsDisadvantaged)</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Attainment 8 Ebacc</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
        <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
 <td class="govuk-table__cell" id="attainment8-ebacc-two-years-ago">@Model.SipAttainment8ScoreEbaccTwoYearsAgo <br id="attainment8-ebacc-disadvantaged-two-years-ago">(disadvantaged @Model.SipAttainment8ScoreEbaccDisadvantagedTwoYearsAgo)</td>
        <td class="govuk-table__cell" id="attainment8-ebacc-previous-year">@Model.SipAttainment8ScoreEbaccPreviousYear <br id="attainment8-ebacc-disadvantaged-previous-year">(disadvantaged @Model.SipAttainment8ScoreEbaccDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="attainment8-ebacc">@Model.SipAttainment8ScoreEbacc <br id="attainment8-ebacc-disadvantaged">(disadvantaged @Model.SipAttainment8ScoreEbaccDisadvantaged)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
		<td class="govuk-table__cell" id="na-attainment8-ebacc-two-years-ago">@Model.NationalAverageAttainment8EbaccTwoYearsAgo <br id="na-attainment8-ebacc-disadvantaged-two-years-ago">(disadvantaged @Model.NationalAverageAttainment8EbaccDisadvantagedTwoYearsAgo)</td>
        <td class="govuk-table__cell" id="na-attainment8-ebacc-previous-year">@Model.NationalAverageAttainment8EbaccPreviousYear <br id="na-attainment8-ebacc-disadvantaged-previous-year">(disadvantaged @Model.NationalAverageAttainment8EbaccDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="na-attainment8-ebacc">@Model.NationalAverageAttainment8Ebacc <br id="na-attainment8-ebacc-disadvantaged">(disadvantaged @Model.NationalAverageAttainment8EbaccDisadvantaged)</td>
    </tr>
    </tbody>
</table>


<h2 class="govuk-heading-l">
    Progress 8
</h2>
<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Pupils included in P8</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
        <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
        <td class="govuk-table__cell" id="number-of-pupils-p8-two-years-ago">@Model.SipNumberOfPupilsProgress8TwoYearsAgo <br id="number-of-pupils-p8-disadvantaged-two-years-ago">(disadvantaged @Model.SipNumberOfPupilsProgress8DisadvantagedTwoYearsAgo)</td>
        <td class="govuk-table__cell" id="number-of-pupils-p8-previous-year">@Model.SipNumberOfPupilsProgress8PreviousYear <br id="number-of-pupils-p8-disadvantaged-previous-year">(disadvantaged @Model.SipNumberOfPupilsProgress8DisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="number-of-pupils-p8">@Model.SipNumberOfPupilsProgress8 <br id="number-of-pupils-p8-disadvantaged">(disadvantaged @Model.SipNumberOfPupilsProgress8Disadvantaged)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
		<td class="govuk-table__cell" id="na-p8-pupils-included-two-years-ago">@Model.NationalAverageP8PupilsIncludedTwoYearsAgo <br id="na-p8-pupils-included-disadvantaged-two-years-ago">(disadvantaged @Model.NationalAverageP8PupilsIncludedDisadvantagedTwoYearsAgo)</td>
        <td class="govuk-table__cell" id="na-p8-pupils-included-previous-year">@Model.NationalAverageP8PupilsIncludedPreviousYear <br id="na-p8-pupils-included-disadvantaged-previous-year">(disadvantaged @Model.NationalAverageP8PupilsIncludedDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="na-p8-pupils-included">@Model.NationalAverageP8PupilsIncluded <br id="na-p8-pupils-included-disadvantaged">(disadvantaged @Model.NationalAverageP8PupilsIncludedDisadvantaged)</td>
    </tr>
    </tbody>
</table>
<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">School progress scores</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
        <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
		<td class="govuk-table__cell" id="p8-score-two-years-ago">@Model.SipProgress8ScoreTwoYearsAgo <br id="p8-score-disadvantaged-two-years-ago">(disadvantaged @Model.SipProgress8ScoreDisadvantagedTwoYearsAgo)</td>
        <td class="govuk-table__cell" id="p8-score-previous-year">@Model.SipProgress8ScorePreviousYear <br id="p8-score-disadvantaged-previous-year">(disadvantaged @Model.SipProgress8ScoreDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="p8-score">@Model.SipProgress8Score <br id="p8-score-disadvantaged">(disadvantaged @Model.SipProgress8ScoreDisadvantaged)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">School confidence interval</th>
        <td class="govuk-table__cell" id="p8-ci-two-years-ago">@Model.SipProgress8LowerConfidenceTwoYearsAgo to @Model.SipProgress8UpperConfidenceTwoYearsAgo</td>
        <td class="govuk-table__cell" id="p8-ci-previous-year">@Model.SipProgress8LowerConfidencePreviousYear to @Model.SipProgress8UpperConfidencePreviousYear</td>
        <td class="govuk-table__cell" id="p8-ci">@Model.SipProgress8LowerConfidence to @Model.SipProgress8UpperConfidence</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA confidence interval</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
	    <th scope="row" class="govuk-table__header">National average</th>
	    <td class="govuk-table__cell" id="na-p8-score-two-years-ago">@Model.NationalAverageProgress8ScoreTwoYearsAgo <br id="na-p8-score-disadvantaged-two-years-ago">(disadvantaged @Model.NationalAverageProgress8ScoreDisadvantagedTwoYearsAgo)</td>
	    <td class="govuk-table__cell" id="na-p8-score-previous-year">@Model.NationalAverageProgress8ScorePreviousYear <br id="na-p8-score-disadvantaged-previous-year">(disadvantaged @Model.NationalAverageProgress8ScoreDisadvantagedPreviousYear)</td>
	    <td class="govuk-table__cell" id="na-p8-score">@Model.NationalAverageProgress8Score <br id="na-p8-score-disadvantaged">(disadvantaged @Model.NationalAverageProgress8ScoreDisadvantaged)</td>
    </tr>
    @* need formatter to handle no data - should be done in view component *@
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National LA confidence interval</th>
        <td class="govuk-table__cell" id="na-p8-ci-two-years-ago">@Model.NationalAverageProgress8LowerConfidenceTwoYearsAgo to @Model.NationalAverageProgress8UpperConfidenceTwoYearsAgo</td>
        <td class="govuk-table__cell" id="na-p8-ci-previous-year">@Model.NationalAverageProgress8LowerConfidencePreviousYear to @Model.NationalAverageProgress8UpperConfidencePreviousYear</td>
        <td class="govuk-table__cell" id="na-p8-ci">@Model.NationalAverageProgress8LowerConfidence to @Model.NationalAverageProgress8UpperConfidence</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Progress 8 English</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
        <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
		<td class="govuk-table__cell" id="p8-score-english-two-years-ago">@Model.SipProgress8EnglishTwoYearsAgo <br id="p8-score-english-disadvantaged-two-years-ago">(disadvantaged @Model.SipProgress8EnglishDisadvantagedTwoYearsAgo)</td>
        <td class="govuk-table__cell" id="p8-score-english-previous-year">@Model.SipProgress8EnglishPreviousYear <br id="p8-score-english-disadvantaged-previous-year">(disadvantaged @Model.SipProgress8EnglishDisadvantagedPreviousYear)</td>
        <td class="govuk-table__cell" id="p8-score-english">@Model.SipProgress8English <br id="p8-score-english-disadvantaged">(disadvantaged @Model.SipProgress8EnglishDisadvantaged)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
	    <td class="govuk-table__cell" id="na-p8-score-english-two-years-ago">@Model.NationalAverageProgress8EnglishTwoYearsAgo <br id="na-p8-score-english-disadvantaged-two-years-ago">(disadvantaged @Model.NationalAverageProgress8EnglishDisadvantagedTwoYearsAgo)</td>
	    <td class="govuk-table__cell" id="na-p8-score-english-previous-year">@Model.NationalAverageProgress8EnglishPreviousYear <br id="na-p8-score-english-disadvantaged-previous-year">(disadvantaged @Model.NationalAverageProgress8EnglishDisadvantagedPreviousYear)</td>
	    <td class="govuk-table__cell" id="na-p8-score-english">@Model.NationalAverageProgress8English <br id="na-p8-score-english-disadvantaged">(disadvantaged @Model.NationalAverageProgress8EnglishDisadvantaged)</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Progress 8 Maths</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
        <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
		<td class="govuk-table__cell" id="p8-score-maths-two-years-ago">@Model.SipProgress8MathsTwoYearsAgo</td>
        <td class="govuk-table__cell" id="p8-score-maths-previous-year">@Model.SipProgress8MathsPreviousYear</td>
        <td class="govuk-table__cell" id="p8-score-maths">@Model.SipProgress8Maths</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
	    <td class="govuk-table__cell" id="na-p8-score-maths-two-years-ago">@Model.NationalAverageProgress8MathsTwoYearsAgo</td>
	    <td class="govuk-table__cell" id="na-p8-score-maths-previous-year">@Model.NationalAverageProgress8MathsPreviousYear</td>
	    <td class="govuk-table__cell" id="na-p8-score-maths">@Model.NationalAverageProgress8Maths</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table govuk-!-margin-bottom-9">
    <caption class="govuk-table__caption govuk-table__caption--m">Progress 8 Ebacc</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
        <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
		<td class="govuk-table__cell" id="p8-score-ebacc-two-years-ago">@Model.SipProgress8EbaccTwoYearsAgo</td>
        <td class="govuk-table__cell" id="p8-score-ebacc-previous-year">@Model.SipProgress8EbaccPreviousYear</td>
        <td class="govuk-table__cell" id="p8-score-ebacc">@Model.SipProgress8Ebacc</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
		<td class="govuk-table__cell" id="na-p8-score-ebacc-two-years-ago">@Model.NationalAverageProgress8EbaccTwoYearsAgo</td>
	    <td class="govuk-table__cell" id="na-p8-score-ebacc-previous-year">@Model.NationalAverageProgress8EbaccPreviousYear</td>
	    <td class="govuk-table__cell" id="na-p8-score-ebacc">@Model.NationalAverageProgress8Ebacc</td>
    </tr>
    </tbody>
</table>

<h2 class="govuk-heading-m">
    Percentage of students entering EBacc
</h2>
<table class="govuk-table govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
        <th scope="col" class="govuk-table__header">@Model.TwoYearsAgo</th>
        <th scope="col" class="govuk-table__header">@Model.PreviousYear</th>
        <th scope="col" class="govuk-table__header">@Model.Year</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
        <td class="govuk-table__cell">no data</td>
        <td class="govuk-table__cell">no data</td>
        <td class="govuk-table__cell">no data</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@ViewData["LocalAuthority"] LA average</th>
        <td class="govuk-table__cell">no data</td>
        <td class="govuk-table__cell">no data</td>
        <td class="govuk-table__cell">no data</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National average</th>
        <td class="govuk-table__cell">no data</td>
        <td class="govuk-table__cell">no data</td>
        <td class="govuk-table__cell">no data</td>
    </tr>
    </tbody>
</table>
