@page "/task-list/{id:int}/conversion-details"
@using Dfe.PrepareConversions.TagHelpers
@using Dfe.PrepareConversions.Data.Models
@model Dfe.PrepareConversions.Pages.UpdateAcademyConversionProjectPageModel
@{
    Model.SuccessPage = Links.TaskList.Index.Page;
    ViewData["Title"] = "Confirm school and trust information and project dates";
    ViewData["AcademyTypeAndRoute"] = Model.Project.AcademyTypeAndRoute;
    ViewData["IsPreview"] = false;
}

@section BeforeMain
{
   <govuk-back-link link-item="@Links.TaskList.Index"/>
}

@if (Model.ShowError)
{
   <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">@Model.Project.SchoolName</span>
      <h1 class="govuk-heading-l">
         Conversion details
      </h1>
        @if (Model.Project.IsReadOnly)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Project approved
                    </p>
                    <p class="govuk-body">
                        This project was approved and moved to Complete conversions transfers and changes on @Model.Project.ApplicationReceivedDate.
                    </p>
                    <p class="govuk-body">
                        You cannot make changes to this project in Prepare.
                    </p>
                </div>
            </div>
        }
      <div class="govuk-body">
         <partial name="Shared/_OpenApplicationFormNewTab"/>
            @if (ViewData["AcademyTypeAndRoute"].Equals(AcademyTypeAndRoutes.Sponsored))
         {
            <div class="govuk-body">
               <p data-test="annex-b-help">Some details have been taken from TRAMS. You can add more from <a class="govuk-link" asp-page="@Links.AnnexB.Index.Page" asp-route-id="@Model.Project.Id">the Annex B form</a>.</p>
            </div>
         }
      </div>
   </div>
   <div class="govuk-grid-column-full">
      @await Component.InvokeAsync("SchoolAndTrustInformation")
      @if (!Model.Project.IsReadOnly)
      {
         <form method="post">
            <govuk-checkbox-input name="school-and-trust-information-complete" asp-for="Project.SchoolAndTrustInformationSectionComplete" label="Mark this section as complete, you can still make changes later"/>

            <button class="govuk-button" id="confirm-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
               Confirm and continue
            </button>
         </form>
      }
   </div>
</div>