@page "/task-list/{id:int}/school-performance-ofsted-information"
@model ApplyToBecomeInternal.Pages.BaseAcademyConversionProjectPageModel
@{
	ViewData["Title"] = "School performance ofsted information";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.TaskList.Index" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">@Model.Project.SchoolName</span>
        <h1 class="govuk-heading-l">School performance (Ofsted information)</h1>
		<p class="govuk-body">This information comes from TRAMS. The table will populate into your headteacher board (HTB) template.</p>
		<p class="govuk-body">You can add <a href="#additional-information">additional information</a> if you need to, this will also go into your HTB template.</p>
		<p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p><br>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<vc:school-performance show-additional-information="false" />
	</div>
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m">Add any additional information if you need to</h2>
		<p class="govuk-body">This information will populate into your HTB template under the school performance (Ofsted information) section.</p>
	</div>
	<div class="govuk-grid-column-full">
		<dl class="govuk-summary-list">
			<govuk-summary-list-row id="additional-information" name="school-performance-additional-information" label="Additional information" value="@Model.Project.SchoolPerformanceAdditionalInformation" asp-page="@Links.SchoolPerformance.AdditionalInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="additional information" />
		</dl>
		<a class="govuk-button" asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.Project.Id">Confirm and continue</a>
	</div>
</div>
