@page "/task-list/{id:int}/school-performance/ofsted-information"
@model ApplyToBecomeInternal.Pages.SchoolPerformance.IndexModel
@{
	ViewData["Title"] = "Ofsted Information";
}

@section BeforeMain
{
	<a back-link-for="@Links.TaskList.Index"></a>
}

<span class="govuk-caption-l">@Model.Project.SchoolName</span>
<h1 class="govuk-heading-l">School performance (Ofsted information)</h1>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<p class="govuk-body">This information comes from TRAMS. The table will populate into your headteacher board (HTB) template.</p>
		<p class="govuk-body">You can add <a href="#additional_info">additional information</a> if you need to, this will also go into your HTB template.</p>
		<p class="govuk-body-s">TRAMS last updated on: 23 March 2021</p><br>
	</div>
</div>
<div>
	<dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
				Ofsted judgement date
			</dt>
			<dd class="govuk-summary-list__value">
				@if (Model.SchoolPerformance.OfstedLastInspection.HasValue)
				{
					@Model.SchoolPerformance.OfstedLastInspection.Value.ToString("d MMMM yyyy");
				}
			</dd>
			<dd class="govuk-summary-list__actions">
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key govuk-!-width-two-thirds">
				Current framework
			</dt>
			<dd class="govuk-summary-list__value">
				Yes
			</dd>
			<dd class="govuk-summary-list__actions">
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Outcome for pupils
			</dt>
			<dd class="govuk-summary-list__value">
				<p id="outcome-for-pupils" class="govuk-body">@Model.SchoolPerformance.PersonalDevelopment.DisplayOfstedRating()</p>
			</dd>
			<dd class="govuk-summary-list__actions">
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Quality of teaching, learning and assessment
			</dt>
			<dd class="govuk-summary-list__value">
				<p id="quality-of-teaching-learning-and-assessment" class="govuk-body">@Model.SchoolPerformance.QualityOfEducation.DisplayOfstedRating()</p>
			</dd>
			<dd class="govuk-summary-list__actions">
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Effectiveness of leadership and management
			</dt>
			<dd class="govuk-summary-list__value">
				<p id="effectiveness-of-leadership-and-management" class="govuk-body">@Model.SchoolPerformance.EffectivenessOfLeadershipAndManagement.DisplayOfstedRating()</p>
			</dd>
			<dd class="govuk-summary-list__actions">
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Personal development, behaviour and welfare
			</dt>
			<dd class="govuk-summary-list__value">
				<p id="personal-development-behaviour-and-welfare" class="govuk-body">@Model.SchoolPerformance.BehaviourAndAttitudes.DisplayOfstedRating()</p>
			</dd>
			<dd class="govuk-summary-list__actions">
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Early years provision
			</dt>
			<dd class="govuk-summary-list__value">
				<p id="early-years-provision" class="govuk-body">@Model.SchoolPerformance.EarlyYearsProvision.DisplayOfstedRating()</p>
			</dd>
			<dd class="govuk-summary-list__actions">
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Overall effectiveness
			</dt>
			<dd class="govuk-summary-list__value">
				<p id="overall-effectiveness" class="govuk-body">@Model.SchoolPerformance.OverallEffectiveness.DisplayOfstedRating()</p>
			</dd>
			<dd class="govuk-summary-list__actions">
			</dd>
		</div>
	</dl>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="ofsted-comments" method="post">
			<a href="#" name="additional_info"></a>
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--m" for="ofsted-more-detail">
					Additional information (optional)
				</label>

				<div id="ofsted-more-detail-hint" class="govuk-hint">
					This information will populate into your HTB template under the school performance (Ofsted information) section.
				</div>

				<textarea class="govuk-textarea" id="ofsted-more-detail" name="ofsted-more-detail" rows="5" aria-describedby="ofsted-more-detail-hint"></textarea>
			</div>
			<button class="govuk-button" data-module="govuk-button">
				Save and continue
			</button>

		</form>

	</div>
</div>