@model IEnumerable<KeyStage5PerformanceTableViewModel>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
        @foreach (var ks5Result in Model)
        {
            <h2 class="govuk-heading-m">
                @ks5Result.Year scores for academic and applied general qualifications
            </h2>
            <table class="govuk-table govuk-!-margin-bottom-9">
                <caption class="govuk-table__caption govuk-table__caption--s">Local authority: @ViewData["LocalAuthority"]</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"></th>
                    <th scope="col" class="govuk-table__header">Academic progress</th>
                    <th scope="col" class="govuk-table__header">Academic average</th>
                    <th scope="col" class="govuk-table__header">Applied general progress</th>
                    <th scope="col" class="govuk-table__header">Applied general average</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
                    <td class="govuk-table__cell">@ks5Result.AcademicProgress</td>
                    <td class="govuk-table__cell">@ks5Result.AcademicAverage</td>
                    <td class="govuk-table__cell">@ks5Result.AppliedGeneralProgress</td>
                    <td class="govuk-table__cell">@ks5Result.AppliedGeneralAverage</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">National average</th>
                    <td class="govuk-table__cell">@ks5Result.NationalAverageAcademicProgress</td>
                    <td class="govuk-table__cell">@ks5Result.NationalAverageAcademicAverage</td>
                    <td class="govuk-table__cell">@ks5Result.NationalAverageAppliedGeneralProgress</td>
                    <td class="govuk-table__cell">@ks5Result.NationalAverageAppliedGeneralAverage</td>
                </tr>
                </tbody>
            </table>
        }
    </div>
</div>
