@model ProjectViewModel
@using Dfe.Academisation.ExtensionMethods;

<table class="govuk-table" aria-label="School pupil forecast">
   <thead class="govuk-table__head">
   <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Year</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Capacity</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total pupil numbers</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage full</th>
   </tr>
   </thead>
   <tbody class="govuk-table__body">
   @await Component.InvokeAsync("SchoolPupilForecastsCurrentYear")
   <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Projected pupil numbers on roll (year 1)</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearOneProjectedCapacity</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearOneProjectedPupilNumbers</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearOneProjectedPupilNumbers.AsPercentageOf(Model.YearOneProjectedCapacity)</td>
   </tr>
   <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Projected pupil numbers on roll (year 2)</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearTwoProjectedCapacity</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearTwoProjectedPupilNumbers</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearTwoProjectedPupilNumbers.AsPercentageOf(Model.YearTwoProjectedCapacity)</td>
   </tr>
   <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Projected pupil numbers on roll (year 3)</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearThreeProjectedCapacity</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearThreeProjectedPupilNumbers</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">@Model.YearThreeProjectedPupilNumbers.AsPercentageOf(Model.YearThreeProjectedCapacity)</td>
   </tr>
   </tbody>
</table>