@page "/task-list/{id:int}/pupil-forecasts"
@using Dfe.PrepareConversions.Data.Models
@using Dfe.PrepareConversions.TagHelpers
@model Dfe.PrepareConversions.Pages.BaseAcademyConversionProjectPageModel
@{
   ViewData["Title"] = "Confirm school pupil forecasts";
   ViewData["AcademyTypeAndRoute"] = Model.Project.AcademyTypeAndRoute;
}

@section BeforeMain
{
   <govuk-back-link link-item="@Links.TaskList.Index"/>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">@Model.Project.SchoolName</span>
      <h1 class="govuk-heading-l">
         Pupil forecasts
      </h1>
        @if (Model.Project.IsReadOnly)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Project approved
                    </p>
                    <p class="govuk-body">
                        This project was approved and moved to Complete conversions transfers and changes on @Model.Project.ApplicationReceivedDate.
                    </p>
                    @if (Model.Project.IsVoluntary)
                    {
                        <p class="govuk-body">
                            You can only <a class="govuk-link" data-test="change-ao-sent-date-link" asp-page="@Links.Decision.AcademyOrderDate.Page" asp-route-id="@Model.Project.Id" asp-route-returnUrl="@Links.SchoolPupilForecastsSection.ConfirmSchoolPupilForecasts.Page" id="change-ao-date-btn">
                                enter or change the date the academy order was sent
                            </a> to this school. All other information is locked.
                        </p>
                    }
                    else
                    {
                        <p class="govuk-body">
                            You cannot make changes to this project in Prepare.
                        </p>
                    }
                </div>
            </div>
        }
      <div class="govuk-body">
         
            @if (ViewData["AcademyTypeAndRoute"]!.Equals(AcademyTypeAndRoutes.Sponsored))
            {
               <p>
                    This information comes from GIAS (Get Information About Schools) and will go into your project document. You can add more from <a class="govuk-link" asp-page="@Links.AnnexB.Index.Page" asp-route-id="@Model.Project.Id">the Annex B form</a>.
               </p>
            }
            else
            {
               <p>
                  This information comes from GIAS (Get Information about Schools) and the
                  <a class="govuk-link" asp-page="@Links.SchoolApplicationForm.Index.Page" asp-route-id="@Model.Project.Id" target="_blank">school's application form (opens in a new tab)</a>. The table will go into your project document.
               </p>
            }
            <p>
               You can add <a class="govuk-link" href="#additional-information">additional information</a> if you need to, this will also go into your project document.
            </p>
      </div>
   </div>
   <div class="govuk-grid-column-full">
      <partial name="_SchoolPupilForecastsTable" model="Model.Project"/>
   </div>
   <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Add any additional information if you need to</h2>
      <p class="govuk-body">This information will go into your project template under the school pupil forecasts section.</p>
   </div>
   <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
            <govuk-summary-list-row id="additional-information" name="school-pupil-forecasts-additional-information" label="Additional information" value="@Model.Project.SchoolPupilForecastsAdditionalInformation" asp-page="@Links.SchoolPupilForecastsSection.AdditionalInformation.Page" asp-fragment="additional-information" asp-route-id="@Model.Project.Id" hidden-text="additional information" asp-read-only="@Model.Project.IsReadOnly" />
      </dl>
        @if (!Model.Project.IsReadOnly)
        {
            <form method="post">
                <button class="govuk-button" id="confirm-and-continue-button" asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.Project.Id">Confirm and continue</button>
            </form>
        } 
   </div>
</div>