@page "/task-list/{id:int}/budget"
@using Dfe.PrepareConversions.TagHelpers
@using Dfe.Academisation.ExtensionMethods
@model Dfe.PrepareConversions.Pages.UpdateAcademyConversionProjectPageModel
@{
   Model.SuccessPage = Links.TaskList.Index.Page;
   ViewData["Title"] = "Confirm school budget information";
   var kw = WidthOverride.TwoThirds;
}

@section BeforeMain
{
   <govuk-back-link link-item="@Links.TaskList.Index"/>
}

@if (Model.ShowError)
{
   <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.Project.SchoolName</span>
      <h1 class="govuk-heading-l">Budget</h1>
        @if (Model.Project.IsReadOnly)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Project approved
                    </p>
                    <p class="govuk-body">
                        This project was approved and moved to Complete conversions transfers and changes on @Model.Project.ApplicationReceivedDate.
                    </p>
                    @if (Model.Project.IsVoluntary)
                    {
                        <p class="govuk-body">
                            You can only <a class="govuk-link" data-test="change-ao-sent-date-link" asp-page="@Links.Decision.AcademyOrderDate.Page" asp-route-id="@Model.Project.Id" id="change-ao-date-btn">
                                enter or change the date the academy order was sent
                            </a> to this school. All other information is locked.
                        </p>
                    }
                    else
                    {
                        <p class="govuk-body">
                            You cannot make changes to this project in Prepare.
                        </p>
                    }
                </div>
            </div>
        }
      <p class="govuk-body">This table will go into your project document.</p>
      <p class="govuk-body-m">You can<a class="govuk-link" href="#additional-information"> add additional information</a> if you need to, this will also go into your project document.</p>
      <br>
   </div>
   <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
            <govuk-summary-list-row name="financial-year" label="End of current financial year" key-width="@kw" value="@Model.Project.EndOfCurrentFinancialYear.ToDateString()" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="End of current financial year" asp-read-only="@Model.Project.IsReadOnly" />
            <govuk-summary-list-row name="finance-year-current" label="Forecasted revenue carry forward at the end of the current financial year" key-width="@kw" value="@Model.Project.RevenueCarryForwardAtEndMarchCurrentYear?.ToMoneyString(true)" highlight-negative-value="true" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Forecasted revenue carry forward at the end of the current financial year" asp-read-only="@Model.Project.IsReadOnly" />
            <govuk-summary-list-row name="finance-current-capital" label="Forecasted capital carry forward at the end of the current financial year" key-width="@kw" value="@Model.Project.CapitalCarryForwardAtEndMarchCurrentYear?.ToMoneyString(true)" highlight-negative-value="true" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Forecasted capital carry forward at the end of the current financial year" asp-read-only="@Model.Project.IsReadOnly" />
            <govuk-summary-list-row name="next-financial-year" label="End of next financial year" key-width="@kw" value="@Model.Project.EndOfNextFinancialYear.ToDateString()" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="End of next financial year" asp-read-only="@Model.Project.IsReadOnly" />
            <govuk-summary-list-row name="finance-year-following" label="Forecasted revenue carry forward at the end of the next financial year" key-width="@kw" value="@Model.Project.ProjectedRevenueBalanceAtEndMarchNextYear?.ToMoneyString(true)" highlight-negative-value="true" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Forecasted revenue carry forward at the end of the next financial year" asp-read-only="@Model.Project.IsReadOnly" />
            <govuk-summary-list-row name="finance-projected-capital" label="Forecasted capital carry forward at the end of the next financial year" key-width="@kw" value="@Model.Project.CapitalCarryForwardAtEndMarchNextYear?.ToMoneyString(true)" highlight-negative-value="true" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Forecasted capital carry forward at the end of the next financial year" asp-read-only="@Model.Project.IsReadOnly" />
      </dl>
   </div>
   <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Add any additional information if you need to</h2>
      <p class="govuk-body">This information will go into your project template under the school budget information section.</p>
   </div>
   <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
            <govuk-summary-list-row id="additional-information" name="school-budget-information-additional-information" label="Additional information" value="@Model.Project.SchoolBudgetInformationAdditionalInformation" asp-page="@Links.SchoolBudgetInformationSection.AdditionalInformation.Page" asp-fragment="additional-information" asp-route-id="@Model.Project.Id" hidden-text="additional information" asp-read-only="@Model.Project.IsReadOnly" />
      </dl>
       @if (!Model.Project.IsReadOnly)
       {
         <form method="post">
            <govuk-checkbox-input name="school-budget-information-complete" asp-for="Project.SchoolBudgetInformationSectionComplete" label="Mark this section as complete, you can still make changes later" />
            <button class="govuk-button" id="confirm-and-continue-button" data-module="govuk-button">
               Confirm and continue
            </button>
         </form>
        }
   </div> 
</div>