@using Dfe.PrepareConversions.Utils
@using Dfe.PrepareConversions.TagHelpers
@model IEnumerable<EducationalAttendanceViewModel>
<div>
    @{
        var educationalAttendanceViewModels = Model.OrderByDescending(x => x.Year).ToList();
    }

    <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">
            <h1 class="govuk-heading-m">Overall absence</h1>
            <p class="govuk-!-margin-top govuk-body">Percentage of mornings or afternoons recorded as an absence from school for any reason, across the full academic year.</p>
        </caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>

                @for (int i = 0; i < 3; i++)
                {
                    var vm = educationalAttendanceViewModels[i];

                    <th scope="col" class="govuk-table__header">@vm.Year</th>
                }

            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
                @for (int i = 0; i < 3; i++)
                {
                    var vm = educationalAttendanceViewModels[i];
                    <td class="govuk-table__cell" id="@("percentage-overall-" + i)">@vm.OverallAbsence</td>
                }
            </tr>
        </tbody>
    </table>

    <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">
            <h1 class="govuk-heading-m">Persistent absence of 10% or more</h1>
            <p class="govuk-!-margin-top govuk-body">The percentage of pupils missing 10% or more of the mornings or afternoons they could attend.</p>
        </caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                @for (int i = 0; i < 3; i++)
                {
                    var vm = educationalAttendanceViewModels[i];

                    <th scope="col" class="govuk-table__header">@vm.Year</th>
                }

            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@ViewData["SchoolName"]</th>
                @for (int i = 0; i < 3; i++)
                {
                    var vm = educationalAttendanceViewModels[i];
                    <td class="govuk-table__cell" id="@("percentage-overall-above-10" + i)">@vm.PersistentAbsence</td>
                }
            </tr>
        </tbody>
    </table>
</div>