@page "/project-list"
@model Dfe.PrepareConversions.Pages.ProjectList.IndexModel
@{
   ViewData["Title"] = "Project list";
}

@section BeforeMain
{
   <a asp-page="@Links.ProjectType.Index.Page" class="govuk-back-link" data-cy="select-backlink">@Links.ProjectType.Index.BackText</a>
}

<div if="Model.Filters.IsVisible" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
     data-cy="select-projectlist-filter-banner">
   <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
         Success
      </h2>
   </div>
   <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
         Projects filtered.
      </h3>
   </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" data-cy="select-heading">Manage an academy conversion</h1>

      <feature name="ShowDirectedAcademyOrders">
         <p class="govuk-body">Use this service to start a new involuntary conversion project or update an existing conversion project.</p>
         <a asp-page="@Links.InvoluntaryProject.SearchSchool.Page" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Start a new involuntary conversion project
         </a>
      </feature>

      <h2 class="govuk-heading-l" test-id="projectCount" data-cy="select-projectlist-filter-count">@(Model.TotalProjects) projects found</h2>

      <partial name="Shared/_ProjectListFilters" model="Model.Filters"/>

      <div if="@Model.ProjectCount == 0">
         <div class="govuk-heading-m govuk-!-margin-top-3">There are no matching results.</div>
         <p class="govuk-body">Improve your results by:</p>
         <ul class="govuk-list govuk-list--bullet govuk-body">
            <li>double-checking your spelling</li>
            <li>searching again with another school</li>
            <li>removing some filters</li>
         </ul>
      </div>

      <div if="@Model.ProjectCount > 0">
         <div class="sort-component">
            <nav class="govuk-body sort-component__nav" aria-label="sort-by">
               <span class="govuk-!-font-weight-bold">Sorted by:</span> Project created date
            </nav>
         </div>

         <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Projects (@Model.ProjectCount)</caption>

            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
               <th class="govuk-table__header app-!-width-three-fifths">Application information</th>
               <th class="govuk-table__header govuk-!-text-align-right app-!-width-two-fifths prepare-text-align-right">Project status and dates</th>
            </tr>
            </thead>

            <tbody class="govuk-table__body">
            @{
               var index = 0;
               foreach (ProjectListViewModel project in Model.Projects)
               {
                  <partial if="project.IsSponsored" name="Shared/SponsoredProjectListRow" model="project.Row(index)"/>
                  <partial if="project.IsVoluntary" name="Shared/VoluntaryProjectListRow" model="project.Row(index)"/>
                  <partial if="project.IsFormAMat" name="Shared/FormAMatProjectListRow" model="project.Row(index)"/>

                  index++;
               }
            }
            </tbody>
         </table>

         <partial name="Shared/_Pagination" model="Model"/>
      </div>
   </div>
</div>