@page "/project-list"
@using Dfe.PrepareConversions.TagHelpers
@using Microsoft.FeatureManagement.Mvc.TagHelpers
@model Dfe.PrepareConversions.Pages.ProjectList.IndexModel
@{
    ViewData["Title"] = "Project list";
}

<div if="Model.Filters.IsVisible" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
     data-cy="select-projectlist-filter-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            Projects filtered.
        </h3>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-cy="select-heading">Conversion projects</h1>
        <p class="govuk-body">Find and manage existing conversion projects or create a new one.</p>
        <a asp-page="@Links.NewProject.NewConversionInformation.Page" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Create a new conversion
        </a>
    </div>
    <div class="govuk-grid-column-one-third">

        <partial name="Shared/_ProjectListFilters" model="Model.Filters" />
    </div>
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l" test-id="projectCount" data-cy="select-projectlist-filter-count">@(Model.TotalProjects) projects found</h2>

        <div if="@Model.ProjectCount == 0">
        <div class="govuk-heading-m govuk-!-margin-top-3">There are no matching results.</div>
        <p class="govuk-body">Improve your results by:</p>
        <ul class="govuk-list govuk-list--bullet govuk-body">
        <li>double-checking your spelling</li>
        <li>searching again with another school</li>
        <li>removing some filters</li>
        </ul>
        </div> 

        <div if="@Model.ProjectCount > 0">
            <a class="govuk-button govuk-button--secondary" asp-page-handler="Download"> Download as a spreadsheet</a>
            <div class="sort-component">
                <nav class="govuk-body sort-component__nav" aria-label="sort-by">
                    <span class="govuk-!-font-weight-bold">Sorted by:</span> Project created date
                </nav>
            </div>

         <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Projects (@Model.ProjectCount)</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header app-!-width-three-fifths">Application information</th>
                </tr>
                </thead>
            <tbody class="govuk-table__body">
            @{
               <partial name="Shared/_ProjectListRows" model="Model.Projects" />
            }
            </tbody>
         </table>

            <partial name="Shared/_Pagination" model="Model" />
        </div>
    </div>
</div>