@page "/project-list"
@model ApplyToBecomeInternal.Pages.ProjectList.IndexModel
@{
	ViewData["Title"] = "Project list";
}

@functions{
	bool ShowHtbDate(ProjectListViewModel vm) => !string.IsNullOrWhiteSpace(vm.HeadTeacherBoardDate);
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">Academy conversion projects (@Model.ProjectCount) </h1>
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<p class="govuk-body govuk-!-font-weight-bold">
					Application information
				</p>
			</div>
			<div class="govuk-grid-column-one-third">
				<p class="govuk-body govuk-!-font-weight-bold app-align-right">
					Project status and dates
				</p>
			</div>
		</div>
		<hr class="govuk-section-break govuk-section-break--visible">

		@{
			var index = 0;
			foreach (var project in Model.Projects)
			{
				<div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-padding-top-2">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1">
							<strong>
								<a id="@("school-name-" + index)" class="govuk-link" asp-page="@Links.TaskList.Index.Page" asp-route-id="@project.Id">@project.SchoolName</a>
							</strong> <span id="@("urn-" + index)">URN @project.SchoolURN</span>
						</h2>
						<p class="govuk-body govuk-!-margin-top-2 govuk--!-margin-bottom-0">
							<span id="@("application-to-join-trust-" + index)">Application to join a trust: @project.NameOfTrust<br></span>
							<span id="@("local-authority-" + index)">Local authority: @project.LocalAuthority</span>
						</p>
					</div>
					<div class="govuk-grid-column-one-third app-align-right">
						<p class="govuk-tag govuk-tag--yellow govuk-!-margin-top-0  govuk-!-margin-bottom-3">PRE ADVISORY BOARD</p>
						<p class="govuk-hint govuk-!-margin-top-0">
							@if (ShowHtbDate(project))
							{
								<span id="@("Advisory-Board-date-" + index)">
									@("Advisory Board date: " + project.HeadTeacherBoardDate)<br>
								</span>
							}
							else
							{
								<span id="@("application-received-date-" + index)">
									@("Application received: " + project.ApplicationReceivedDate)<br>
								</span>
							}
							@if (ShowHtbDate(project))
							{
								<span id="@("opening-date-" + index)">@("Opening date: " + project.ProposedAcademyOpeningDate)</span>
							}
							else
							{
								<span id="@("assigned-to-me-" + index)">@("Assigned to me: " + project.AssignedDate)</span>
							}
						</p>
					</div>
				</div>
				<hr class="govuk-section-break govuk-section-break--visible">
				index++;
			}
		}
	</div>
</div>