@page "/project-list"
@model ApplyToBecomeInternal.Pages.ProjectList.IndexModel
@{
	ViewData["Title"] = "Project list";
}

@functions{
	bool ShowHtbDate(ProjectListViewModel vm) => !string.IsNullOrWhiteSpace(vm.HeadTeacherBoardDate);
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">Manage an academy conversion</h1>
		<h2 class="govuk-heading-l" test-id="projectCount">Projects</h2>
		<table class="govuk-table">
			<caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Projects (@Model.ProjectCount)</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header app-!-width-three-fifths">Application information</th>
					<th class="govuk-table__header govuk-!-text-align-right app-!-width-two-fifths prepare-text-align-right" >Project status and dates</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				@{
					var index = 0;
					foreach (var project in Model.Projects)
					{
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1">
									<strong>
										<a id="@("school-name-" + index)" class="govuk-link" asp-page="@Links.TaskList.Index.Page" asp-route-id="@project.Id">@project.SchoolName</a>
									</strong> 
									<span id="@("urn-" + index)">URN @project.SchoolURN</span>
								</h2>
								<p class="govuk-!-margin-top-3">
									<div id="@("application-to-join-trust-" + index)">Application to join a trust: @project.NameOfTrust</div>
									<div id="@("local-authority-" + index)">Local authority: @project.LocalAuthority</div>
								</p>
							</td>
							<td class="govuk-table__cell govuk-table__cell prepare-text-align-right">
								<p class="govuk-!-margin-top-0">
									<strong class="govuk-tag govuk-tag--yellow">PRE ADVISORY BOARD</strong>
								</p>
								<p class="govuk-hint  govuk-!-margin-top-0">
									<span id="@("application-received-date-" + index)">
										@("Application received: " + project.ApplicationReceivedDate)<br>
									</span>
									@if (ShowHtbDate(project))
									{
										<span id="@("Advisory-Board-date-" + index)">
											@("Advisory board date: " + project.HeadTeacherBoardDate)<br>
										</span>
										<span id="@("opening-date-" + index)">@("Opening date: " + project.ProposedAcademyOpeningDate)</span>
									}								
								</p>
							</td>
						</tr>
						index++;
					}
				}
			</tbody>
		</table>
		@*///to be replaced///*@
		@*<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<p class="govuk-body govuk-!-font-weight-bold">
					Application information
				</p>
			</div>
			<div class="govuk-grid-column-one-third">
				<p class="govuk-body govuk-!-font-weight-bold app-align-right">
					Project status and dates
				</p>
			</div>
		</div>
		<hr class="govuk-section-break govuk-section-break--visible">

		@{
			var index1 = 0;
			foreach (var project in Model.Projects)
			{
				<div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-padding-top-2">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1">
							<strong>
								<a id="@("school-name-" + index)" class="govuk-link" asp-page="@Links.TaskList.Index.Page" asp-route-id="@project.Id">@project.SchoolName</a>
							</strong> <span id="@("urn-" + index)">URN @project.SchoolURN</span>
						</h2>
						<p class="govuk-body govuk-!-margin-top-2 govuk--!-margin-bottom-0">
							<span id="@("application-to-join-trust-" + index)">Application to join a trust: @project.NameOfTrust<br></span>
							<span id="@("local-authority-" + index)">Local authority: @project.LocalAuthority</span>
						</p>
					</div>
					<div class="govuk-grid-column-one-third app-align-right">
						<p class="govuk-tag govuk-tag--yellow govuk-!-margin-top-0  govuk-!-margin-bottom-3">PRE ADVISORY BOARD</p>
						<p class="govuk-hint govuk-!-margin-top-0">
							<span id="@("application-received-date-" + index1)">
								@("Application received: " + project.ApplicationReceivedDate)<br>
							</span>
							@if (ShowHtbDate(project))
							{
								<span id="@("Advisory-Board-date-" + index)">
									@("Advisory board date: " + project.HeadTeacherBoardDate)<br>
								</span>
								<span id="@("opening-date-" + index)">@("Opening date: " + project.ProposedAcademyOpeningDate)</span>
							}
						</p>
					</div>
				</div>
				<hr class="govuk-section-break govuk-section-break--visible">
				index1++;
			}
		}*@
		@*///end of to be replaced///*@
		<nav class="moj-pagination" id="pagination-label">
			<p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
			<ul class="moj-pagination__list">
				@if (Model.HasPreviousPage)
				{
					<li class="moj-pagination__item  moj-pagination__item--prev">
						<a class="moj-pagination__link" asp-page="/ProjectList/Index" asp-route-currentPage="@Model.PreviousPage" test-id="previousPage">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
					</li>
					@for (var i = Model.StartingPage; i < Model.CurrentPage; i++)
					{
						<li class="moj-pagination__item">
							<a asp-page="/ProjectList/Index" asp-route-currentPage="@i" class="moj-pagination__link">@i</a>
						</li>
					}
				}
				<li class="moj-pagination__item moj-pagination__item--active">@Model.CurrentPage</li>
				@if (Model.HasNextPage)
				{
					<li class="moj-pagination__item">
						<a asp-page="/ProjectList/Index" asp-route-currentPage="@Model.NextPage" class="moj-pagination__link">@Model.NextPage</a>
					</li>
					<li class="moj-pagination__item  moj-pagination__item--next">
						<a class="moj-pagination__link" asp-page="/ProjectList/Index" asp-route-currentPage="@Model.NextPage" test-id="nextPage">Next<span class="govuk-visually-hidden"> set of pages</span></a>
					</li>
				}
			</ul>
			<p class="moj-pagination__results"></p>
		</nav>
	</div>
</div>
