@page "/project-list"
@model ApplyToBecomeInternal.Pages.ProjectList.IndexModel
@{
	ViewData["Title"] = "Project list";
}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">Academy conversion projects (@Model.ProjectCount) </h1>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Application information</th>
					<th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third">Project status and dates</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				@{
					foreach (var project in Model.Projects)
					{
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong><a class="govuk-link" asp-page="@Links.TaskList.Index.Page" asp-route-id="@project.Id">@project.SchoolName</a></strong> URN @project.SchoolURN</h2>
								<p class="govuk-!-margin-top-2 govuk--!-margin-bottom-0">
									Application to join a trust: @project.TrustName<br>
									Local authority: @project.LocalAuthority
								</p>
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric">
								<p class="govuk-tag govuk-tag--blue govuk-!-margin-top-0  govuk-!-margin-bottom-3">@project.Phase</p>
								<p class="govuk-hint govuk-!-margin-top-0">
									Application received: @project.ApplicationReceivedDate<br>
									Assigned to me: @project.AssignedDate
								</p>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>
