@page "/project-list"
@model ApplyToBecomeInternal.Pages.ProjectList.IndexModel
@{
	ViewData["Title"] = "Project list";
}
@functions{
	bool ShowHtbDate(ProjectListViewModel vm) => !string.IsNullOrWhiteSpace(vm.HeadTeacherBoardDate);
	bool ShowOpeningDate(ProjectListViewModel vm) => !string.IsNullOrWhiteSpace(vm.ProposedAcademyOpeningDate);
}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">Academy conversion projects (@Model.ProjectCount) </h1>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Application information</th>
					<th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-third">Project status and dates</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
			@{
					var index = 0;
					foreach (var project in Model.Projects)
					{
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<h2 class="govuk-caption-l govuk-!-margin-bottom-0 govuk-!-margin-top-1"><strong><a id="@("school-name-" + index)" class="govuk-link" asp-page="@Links.TaskList.Index.Page" asp-route-id="@project.Id">@project.SchoolName</a></strong> <span id="@("urn-" + index)">URN @project.SchoolURN</span></h2>
								<p class="govuk-!-margin-top-2 govuk--!-margin-bottom-0">
									<span id="@("application-to-join-trust-" + index)">Application to join a trust: @project.NameOfTrust<br></span>
									<span id="@("local-authority-" + index)">Local authority: @project.LocalAuthority</span>
								</p>
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric">
								<p class="govuk-tag govuk-tag--yellow govuk-!-margin-top-0  govuk-!-margin-bottom-3">PRE HTB</p>
								<p class="govuk-hint govuk-!-margin-top-0">
									@if (ShowHtbDate(project))
									{
										<span id="@("htb-date-" + index)">@("HTB Date: " + project.HeadTeacherBoardDate)<br></span>
									}
									else
									{
										<span id="@("application-received-date-" + index)">@("Application received: " + project.ApplicationReceivedDate)<br></span>
									}
									@if (ShowOpeningDate(project))
									{
										<span id="@("opening-date-" + index)">@("Opening date: " + project.ProposedAcademyOpeningDate)</span>
									}
									else
									{
										<span id="@("assigned-to-me-" + index)">@("Assigned to me: " + project.AssignedDate)</span>
									}
								</p>
							</td>
						</tr>
						index++;
					}
				}
			</tbody>
		</table>
	</div>
</div>
