@page "/task-list/{id:int}/decision/summary"
@using ApplyToBecome.Data.Models.AdvisoryBoardDecision
@model ApplyToBecomeInternal.Pages.TaskList.Decision.SummaryModel
@{
    ViewData["Title"] = "Check your answers";
}
@section BeforeMain
    {
    <a asp-page="@Links.Decision.DecisionDate.Page" asp-route-id="@Model.Id" class="govuk-back-link">Back</a>
}

    <span id="selection-span" class="govuk-caption-l">@Model.SchoolName</span>
    <h1 class="govuk-heading-l">Check your answers before recording this decision</h1>

    <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Decision
            </dt>
            <dd class="govuk-summary-list__value">

                @{
                var decisionName = Model.Decision.GetDecisionAsFriendlyName();
	            var decisionClass = Model.Decision.Decision == AdvisoryBoardDecisions.Approved ? "govuk-tag--green" : "govuk-tag--red";
            }
            @if (string.IsNullOrEmpty(decisionName))
            {
                <span class="empty">Empty</span>
            }
            else
            {
                <strong class="govuk-tag @decisionClass" id="decision">@decisionName</strong>
            }

        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-page="@Links.Decision.RecordDecision.Page" asp-route-id="@Model.Id" asp-route-obl="true">
                Change<span class="govuk-visually-hidden">decision</span>
            </a>
        </dd>
    </div>
	    <div class="govuk-summary-list__row">
		    <dt class="govuk-summary-list__key">
			    Who made this decision
		    </dt>
		    <dd class="govuk-summary-list__value">

			    @if (Model.Decision.DecisionMadeBy != null)
			    {
				    <div id="decision-made-by">@Model.Decision.DecisionMadeBy.ToDescription()</div>
			    }
			    else
			    {
				    <span class="empty">Empty</span>
			    }
		    </dd>
		    <dd class="govuk-summary-list__actions">
			    <a class="govuk-link" asp-page="@Links.Decision.WhoDecided.Page" asp-route-id="@Model.Id" asp-route-obl="true">
				    Change<span class="govuk-visually-hidden">who made this decision</span>
			    </a>
		    </dd>
	    </div>

	    @if (Model.Decision.Decision == AdvisoryBoardDecisions.Declined)
	    {
		    <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
				    Reasons
			    </dt>
			   @* <dd class="govuk-summary-list__value" id="decline-reasons">
				    @if (Model.Decision.DeclinedReasons.Any(r => r.Reason == AdvisoryBoardDeclinedReasons.Finance))
				    {
					    <div>Finance:</div>
					    <div class="govuk-!-margin-bottom-2">@Model.Decision.DeclineFinanceReason</div>
				    }
				    @if (Model.Decision.DeclinedReasons.Any(r => r.Reason == AdvisoryBoardDeclinedReasons.Performance))
				    {
					    <div>Performance:</div>
					    <div class="govuk-!-margin-bottom-2">@Model.Decision.DeclinePerformanceReason</div>
				    }
				    @if (Model.Decision.DeclinedReasons.Any(r => r.Reason == AdvisoryBoardDeclinedReasons.Governance))
				    {
					    <div>Governance:</div>
					    <div class="govuk-!-margin-bottom-2">@Model.Decision.DeclineGovernanceReason</div>
				    }
				    @if (Model.Decision.DeclinedReasons.Any(r => r.Reason == AdvisoryBoardDeclinedReasons.ChoiceOfTrust))
				    {
					    <div>Choice of trust:</div>
					    <div class="govuk-!-margin-bottom-2">@Model.Decision.DeclineChoiceOfTrustReason</div>
				    }
				    @if (Model.Decision.DeclinedReasons.Any(r => r.Reason == AdvisoryBoardDeclinedReasons.Other))
				    {
					    <div>Other:</div>
					    <div class="govuk-!-margin-bottom-2">@Model.Decision.DeclinedOtherReason</div>
				    }
			    </dd>*@
			    <dd class="govuk-summary-list__actions">
				    <a class="govuk-link" asp-page="@Links.Decision.DeclineReason.Page" asp-route-id="@Model.Id" asp-route-obl="true">
					    Change<span class="govuk-visually-hidden">rejected-reason</span>
				    </a>
			    </dd>
		    </div>
	    }

    @if (Model.Decision.Decision == AdvisoryBoardDecisions.Deferred)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Why was this project deferred
            </dt>
            <dd class="govuk-summary-list__value" id="decline-reasons">

                @foreach (var reason in @Model.Decision.DeferredReasons)
                {

                    <div>@reason.Reason.ToDescription():</div>
                    <div class="govuk-!-margin-bottom-2">@reason.Details</div>

                }
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" asp-page="@Links.Decision.WhyDeferred.Page" asp-route-id="@Model.Id" asp-route-obl="true">
                    Change<span class="govuk-visually-hidden">rejected-reason</span>
                </a>
            </dd>
        </div>
    }


    @{
        var conditionsSet = Model.Decision.ApprovedConditionsSet.HasValue && Model.Decision.ApprovedConditionsSet.Value;
    }

	    @if (Model.Decision.Decision != AdvisoryBoardDecisions.Declined)
	    {
		    <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
				    Were any conditions set
			    </dt>
			    <dd class="govuk-summary-list__value" id="condition-set">
				    @(conditionsSet ? "Yes" : "No")
			    </dd>
			    <dd class="govuk-summary-list__actions">
				    <a class="govuk-link" asp-page="@Links.Decision.AnyConditions.Page" asp-route-id="@Model.Id" asp-route-obl="true">
					    Change<span class="govuk-visually-hidden">condition answer</span>
				    </a>
			    </dd>
		    </div>

		    @if (conditionsSet)
		    {
			    <div class="govuk-summary-list__row">
				    <dt class="govuk-summary-list__key">
					    Details of the conditions
				    </dt>
				    <dd class="govuk-summary-list__value" id="condition-details">
					    @Model.Decision.ApprovedConditionsDetails
				    </dd>
				    <dd class="govuk-summary-list__actions">
					    <a class="govuk-link" asp-page="@Links.Decision.WhatConditions.Page" asp-route-id="@Model.Id" asp-route-obl="true">
						    Change<span class="govuk-visually-hidden">details of the conditions</span>
					    </a>
				    </dd>
			    </div>
		    }
	    }

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of decision
        </dt>
        <dd class="govuk-summary-list__value" id="decision-date">

            @if (@Model.Decision.AdvisoryBoardDecisionDate.HasValue)
            {
                <span>@Model.Decision.AdvisoryBoardDecisionDate.Value.Day.ToString("00") </span>
                <span>@Model.Decision.AdvisoryBoardDecisionDate.Value.Month.ToString("00") </span>
                <span>@Model.Decision.AdvisoryBoardDecisionDate.Value.Year</span>
            }
            else
            {
                <span class="empty">Empty</span>
            }

        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" asp-page="@Links.Decision.DecisionDate.Page" asp-route-id="@Model.Id" asp-route-obl="true">
                Change<span class="govuk-visually-hidden">date of decision</span>
            </a>
        </dd>
    </div>

</dl>

<form method="post">
    <button class="govuk-button" data-module="govuk-button" id="submit-btn">
        Record this decision
    </button>

</form>

