@page "/task-list/{id:int}/decision/why-deferred"
@model ApplyToBecomeInternal.Pages.TaskList.Decision.WhyDeferredModel
@{
    ViewData["Title"] = "Why was this project deferred?";
}
@section BeforeMain
{
    <partial name="_BackLink" model="@Model.BackLinkModel" />
}
    <span id="selection-span" class="govuk-caption-l">@Model.SchoolName</span>
    <h1 class="govuk-heading-l">Why was this project deferred?</h1>

    <form method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                </legend>               
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                @{
                    int counter = 0;
                }

                @foreach (var deferredReason in Model.DecisionMadeByOptions)
                {
                    {
                        counter++;
                    }
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="@deferredReason.ToString().ToLower()-checkboxes" name="@deferredReason.ToString().ToLower()-checkboxes" type="checkbox"
                        value="@deferredReason.ToDescription()" data-aria-controls="conditional-@counter">
                        <label class="govuk-label govuk-checkboxes__label" for="@deferredReason.ToString().ToLower()-checkboxes">
                            @deferredReason.ToDescription()
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-@counter">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="ReasonDeferred-@counter">
                            Give reasons
                        </label>
                        <textarea class="govuk-textarea govuk-!-width-three-quarters" id="ReasonDeferred-@counter" name="ReasonDeferred-@counter" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>

                    </div>
                }
            </div>
        </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button" id="submit-btn">
        Continue
    </button>
</form>

