@page "/task-list/{id:int}/confirm-risks-issues"
@using ApplyToBecomeInternal.ViewModels
@model ApplyToBecomeInternal.Pages.TaskList.RisksAndIssues.ConfirmRisksAndIssuesModel
@{
	ViewData["Title"] = "Confirm risks and issues";
}

@section BeforeMain
{
	<a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.Project.Id" class="govuk-back-link">@Links.TaskList.Index.BackText</a>
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<span class="govuk-caption-l">@Model.Project.SchoolName</span>
				<h1 class="govuk-heading-l">
					Confirm risks and issues
				</h1>
			</div>
		</div>
		<dl class="govuk-summary-list">
			@await Html.PartialAsync("_SummaryListRow", new SummaryListRowViewModel(
				"risks-and-issues",
				"Risks and issues",
				Model.Project.RisksAndIssues,
				Links.RisksAndIssuesSection.RisksAndIssues.Page,
				Model.Project.Id,
				"risks and issues"))
			@await Html.PartialAsync("_SummaryListRow", new SummaryListRowViewModel(
				"rationale-for-trust",
				"Has an Equalities Impact Assessment been considered?",
				Model.Project.EqualitiesImpactAssessmentConsidered,
				null,
				null,
				null))
		</dl>
		<form method="post">
			<div class="govuk-form-group">
				<div class="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="rationale-status-htb" name="rationale-status-htb" type="checkbox" value="true" checked="@Model.Project.RisksAndIssuesMarkAsComplete">
						<label class="govuk-label govuk-checkboxes__label" for="rationale-status-htb">
							Mark this section as complete, you can still make changes later
						</label>
					</div>
				</div>
			</div>
			<button class="govuk-button" data-module="govuk-button">
				Confirm and continue
			</button>
		</form>
	</div>
</div>
