@page "/task-list/{id:int}/confirm-risks-issues"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Model.SuccessPage = Links.TaskList.Index.Page;
	ViewData["Title"] = "Confirm risks and issues";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.TaskList.Index" />
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">@Model.Project.SchoolName</span>
		<h1 class="govuk-heading-l">
			Confirm risks and issues
		</h1>
	</div>
	<div class="govuk-grid-column-full">
		<dl class="govuk-summary-list">
			<govuk-summary-list-row name="risks-and-issues" label="Risks and issues" value="@Model.Project.RisksAndIssues" asp-page="@Links.RisksAndIssuesSection.RisksAndIssues.Page" asp-route-id="@Model.Project.Id" hidden-text="risks and issues"/>
			<govuk-summary-list-row name="equalities-impact-assessment-considered" label="Has an Equalities Impact Assessment been considered?" asp-for="Project.EqualitiesImpactAssessmentConsidered"/>
		</dl>
		<form method="post">
			<govuk-checkbox-input name="risks-and-issues-complete" asp-for="Project.RisksAndIssuesSectionComplete" label="Mark this section as complete, you can still make changes later"/>

			<button class="govuk-button" data-module="govuk-button">
				Confirm and continue
			</button>
		</form>
	</div>
</div>
