@page "/task-list/{id:int}/risks-and-issues"
@model ApplyToBecomeInternal.Pages.TaskList.RisksAndIssues.RisksAndIssuesModel
@{
	ViewData["Title"] = "Risks and issues";
}

@section BeforeMain
{
	<a asp-page="@Links.RisksAndIssuesSection.ConfirmRisksAndIssues.Page" asp-route-id="@Model.Project.Id" class="govuk-back-link">@Links.RisksAndIssuesSection.ConfirmRisksAndIssues.BackText</a>
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<span class="govuk-caption-l">@Model.Project.SchoolName</span>
			<h1 class="govuk-heading-l">Write about any risks or issues for this conversion</h1>

			<div class="govuk-form-group">
				<textarea class="govuk-textarea"
						  id="risks-and-issues"
						  name="risks-and-issues"
						  rows="15"
						  data-module="moj-rich-text-editor"
						  data-moj-rich-text-editor-toolbar="bold,italic,underline,bullets,numbers">@Model.Project.RisksAndIssues</textarea>
			</div>

			<button class="govuk-button" data-module="govuk-button">
				Save and continue
			</button>
		</form>
	</div>

	<partial name="_UsefulInformation" />
</div>
