@using Dfe.Academisation.ExtensionMethods
@using Dfe.PrepareConversions.TagHelpers
@model List<ProjectListViewModel>

@{
    var index = 0;

    foreach (var project in Model)
    {
        var projectRow = project.Row(index);

        var isFormAMat = project.IsFormAMat;
        var matTypeClass = isFormAMat ? "form-a-mat" : "join-a-mat";
        var link = isFormAMat ? @Links.FormAMat.Index.Page : @Links.TaskList.Index.Page;

        <tr class="govuk-table__row @matTypeClass" data-cy="select-projectlist-filter-row">
            <td class="govuk-table__cell">
               <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
                  <strong>
                     <a id="@("school-name-" + projectRow.Index)" class="govuk-link" asp-page="@link" asp-route-id="@projectRow.Item.Id">@projectRow.Item.SchoolName</a>
                  </strong>
               </div>
               <div>
                  <span id="@("urn-" + projectRow.Index)"><strong>URN:</strong> @projectRow.Item.SchoolURN</span>
               </div>
               @if (!@projectRow.Item.LocalAuthority.IsEmpty())
               {
                  <div id="@("local-authority-" + projectRow.Index)">
                     <strong>Local authority:</strong> 
                     @projectRow.Item.LocalAuthority
                  </div>
               }
               <div id="@("region-" + projectRow.Index)">
                  <strong>Region:</strong> 
                  @projectRow.Item.Region
               </div>
               <div id="@("incoming-trust-" + projectRow.Index)">
                  <strong>Incoming trust:</strong>
                  @projectRow.Item.NameOfTrust
               </div>
               <div id="@("advisory-board-date-" + projectRow.Index)">
                  <strong>Advisory board date:</strong>
                    <span if="projectRow.Item.HeadTeacherBoardDate.IsEmpty()" class="empty">Empty</span>
                    <span if="projectRow.Item.HeadTeacherBoardDate.IsPresent()">@projectRow.Item.HeadTeacherBoardDate</span>
               </div>
               @if (!isFormAMat)
               {
                  <div id="@("assigned-to-" + projectRow.Index)" class="do">
                     <strong>Assigned to:</strong>
                     <span if="projectRow.Item.AssignedUserFullName.IsEmpty()" class="empty">Empty</span>
                     <strong if="projectRow.Item.AssignedUserFullName.IsPresent()">@projectRow.Item.AssignedUserFullName</strong>
                  </div>
               }
               <div>
                  <strong class="govuk-tag govuk-tag--@projectRow.Item.Status.Colour" id="project-status-@projectRow.Item.Id">@projectRow.Item.Status.Value</strong>
               </div>
            </td>
        </tr>

        index++;
    }
}

