@model ProjectViewModel
<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">URN: @Model.SchoolURN</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" data-cy="select-heading">
         @Model.SchoolName
      </h1>
        <p class="govuk-body govuk-!-margin-bottom-1">
            Route: @Model.AcademyTypeAndRoute.RouteDescription(@Model.IsFormAMat)
        </p>
      <p class="govuk-body govuk-!-margin-bottom-5">
         Project owner:

            @if (Model.AssignedUser == null || string.IsNullOrWhiteSpace(Model?.AssignedUser.FullName))
            {
                <span data-id="assigned-user" class="empty">Empty</span>
            }
            else
            {
                <strong data-id="assigned-user">@Model.AssignedUser.FullName</strong>
            }

         <a class="govuk-link govuk-!-padding-left-50" asp-page="@Links.ProjectAssignment.Index.Page" asp-route-id="@Model.Id">Change</a>
      </p>
        <p class="govuk-!-margin-top-0  govuk-!-margin-bottom-5">
            <strong class="govuk-tag govuk-tag--@Model.ProjectStatusColour" id="project-status-@Model.Id">@Model.ProjectStatus</strong>
        </p>
        @if (Model.HasPermission)
        { 
            <span class="govuk-body govuk-!-margin-bottom-3">
                <a class="govuk-button govuk-button--warning" asp-page="@Links.DeleteProject.ConfirmToDeleteProject.Page" asp-route-id="@Model.Id" asp-route-urn="@Model.SchoolURN" asp-route-title="@Model.SchoolName"> Delete project</a>
            </span> 
        }
    </div>
    

   <div class="govuk-grid-column-full">
      <partial name="_SubMenu" model="@Model"/>

   </div>
</div>