@page "/task-list/{id:int}/confirm-risks-issues"
@using Dfe.PrepareConversions.TagHelpers
@model Dfe.PrepareConversions.Pages.UpdateAcademyConversionProjectPageModel
@{
   Model.SuccessPage = Links.TaskList.Index.Page;
   ViewData["Title"] = "Confirm risks and issues";
}

@section BeforeMain
{
   <govuk-back-link link-item="@Links.TaskList.Index"/>
}

@if (Model.ShowError)
{
   <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">@Model.Project.SchoolName</span>
      <h1 class="govuk-heading-l">
         Confirm risks and issues
      </h1>
        @if (Model.Project.IsReadOnly)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Project approved
                    </p>
                    <p class="govuk-body">
                        This project was approved and moved to Complete conversions transfers and changes on @Model.Project.ApplicationReceivedDate.
                    </p>
                    <p class="govuk-body">
                        You cannot make changes to this project in Prepare.
                    </p>
                </div>
            </div>
        }
   </div>
   <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
         <govuk-summary-list-row name="risks-and-issues" label="Risks and issues" value="@Model.Project.RisksAndIssues" asp-page="@Links.RisksAndIssuesSection.RisksAndIssues.Page" asp-route-id="@Model.Project.Id" hidden-text="risks and issues" asp-read-only="@Model.Project.IsReadOnly"/>
      </dl>
      @if(!Model.Project.IsReadOnly)
      {
         <form method="post">
            <govuk-checkbox-input name="risks-and-issues-complete" asp-for="Project.RisksAndIssuesSectionComplete" label="Mark this section as complete, you can still make changes later"/>

            <button class="govuk-button" id="confirm-and-continue-button" data-module="govuk-button">
               Confirm and continue
            </button>
         </form>
      }
   </div>
</div>