@page "/transfers/project/{urn}/academy-and-trust-information/incoming-trust-name"
@using Dfe.PrepareTransfers.Web.Dfe.PrepareTransfers.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfe.Academisation.ExtensionMethods
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model Dfe.PrepareTransfers.Web.Pages.Projects.AcademyAndTrustInformation.IncomingTrustNameModel
@{
    Layout = "_Layout";
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Enter the project name";
    var formClasses = ViewData.ModelState.IsValid ? "" : "govuk-form-group--error";
}

@section BeforeMain
{
    <a class="govuk-back-link" asp-page="/Projects/AcademyAndTrustInformation/Index" asp-route-urn="@Model.Urn">Back</a>
}

<div asp-gds-validation-summary></div>
    
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Enter trust details
        </h1>
        <form class="govuk-form" method="post">
            <input type="hidden" asp-for="@Model.Urn" />
            <input type="hidden" asp-for="@Model.ReturnToPreview" />
            <div class="govuk-form-group @formClasses">
               <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" id="@nameof(Model.IncomingTrustName)">
                     <label class="govuk-label govuk-label--m">
                        Incoming trust name
                     </label>
                  </legend>
                  <p asp-gds-validation-for="IncomingTrustName"></p>
                  <input class="govuk-input" name="IncomingTrustName" id="IncomingTrustName" type="text" aria-describedby="query-hint" value="@Model.IncomingTrustName">

               </fieldset>
               <br />
                @if (Model.HasPermission)
                {               
                    <label class="govuk-label govuk-label--m" for="IncomingTrustReferenceNumber">
                        Incoming trust reference number
                    </label> 
                    <div id="set-ab-date-hint" class="govuk-hint">
                        Like TR12345.
                    </div>
                    <input class="govuk-input" id="IncomingTrustReferenceNumber" name="IncomingTrustReferenceNumber" type="text" value="@Model.IncomingTrustReferenceNumber">                   
                }
                else
                {
                    <label class="govuk-label govuk-label--m" for="IncomingTrustReferenceNumber">
                        Incoming trust reference number
                    </label>
                    <input type="hidden" asp-for="@Model.IncomingTrustReferenceNumber" />
                   <div class="govuk-warning-text">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                         <span class="govuk-visually-hidden">Warning</span>
                            You must <a class="govuk-link" href="@Configuration["GetHelpLink"]">contact service support</a> and ask them to update the incoming trust’s reference number to this project.
                      </strong>
                   </div>
                }
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
        </form>
    </div>
</div>