@page "/task-list/{id:int}/key-stage-5-performance-tables"
@using Dfe.PrepareConversions.TagHelpers
@model Dfe.PrepareConversions.Pages.BaseAcademyConversionProjectPageModel
@{
   ViewData["Title"] = "Key stage 5 performance tables";
}

@section BeforeMain
{
   <govuk-back-link link-item="@Links.TaskList.Index"/>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">@Model.Project.SchoolName</span>
      <h1 class="govuk-heading-l">Key stage 5 performance tables</h1>
      <p class="govuk-body">This information comes from Find and compare schools in England. You can add <a class="govuk-link" href="#additional-information">additional information</a> if you need to. These performance tables and additional information will go into your project template.</p>
      <p class="govuk-body">
         <a href="https://www.compare-school-performance.service.gov.uk/school/@Model.Project.SchoolURN" class="govuk-link" rel="noreferrer noopener" target="_blank">Source of data: Find and compare school performance (opens in new tab)</a>
      </p>
      <div class="govuk-inset-text">
         There is no 2019 to 2020 key stage data because of the pandemic. 2020 to 2021 data is limited.
      </div>
   </div>
   <div class="govuk-grid-column-full">
      @await Component.InvokeAsync("KeyStage5PerformanceTables")
   </div>
    @*  <partial name="Shared/_AddtionalInformation"/> 
   <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
         <govuk-summary-list-row id="additional-information" name="key-stage-5-additional-information" label="Additional information" value="@Model.Project.KeyStage5PerformanceAdditionalInformation" asp-page="@Links.KeyStagePerformanceSection.KeyStage5PerformanceTablesAdditionalInformation.Page" asp-fragment="additional-information" asp-route-id="@Model.Project.Id" hidden-text="additional information"/>
      </dl>
      <form method="post">
         <button class="govuk-button" id="confirm-and-continue-button" asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.Project.Id">Confirm and continue</button>
      </form>
    </div>*@
</div>