@page "/task-list/{id:int}/key-stage-2-performance-tables"
@using Dfe.PrepareConversions.TagHelpers
@model Dfe.PrepareConversions.Pages.BaseAcademyConversionProjectPageModel
@{
   ViewData["Title"] = "Key stage 2 performance tables";
}

@section BeforeMain
{
    <govuk-back-link data-cy="key-stage-2-back-btn" link-item=" @Links.TaskList.Index" />
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
      <span class="govuk-caption-l">@Model.Project.SchoolName</span>
      <h1 class="govuk-heading-l">Key stage 2 performance tables</h1>
        @if (Model.Project.IsReadOnly)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Project approved
                    </p>
                    <p class="govuk-body">
                        This project was approved and moved to Complete conversions transfers and changes on @Model.Project.ApplicationReceivedDate.
                    </p>
                    <p class="govuk-body">
                        You cannot make changes to this project in Prepare.
                    </p>
                </div>
            </div>
        }
        <p class="govuk-body">This information comes from Find and compare schools in England. It is for reference only. It will not appear in the project document.</p>
      <p class="govuk-body">
         <a href="https://www.compare-school-performance.service.gov.uk/school/@Model.Project.SchoolURN" class="govuk-link" rel="noreferrer noopener" target="_blank">Source of data: Find and compare school performance (opens in new tab)</a>
      </p>
      <div class="govuk-inset-text">
         There is no 2019 to 2020 key stage data because of the pandemic. 2020 to 2021 data is limited.
      </div>
   </div>
   <div class="govuk-grid-column-full">
      @await Component.InvokeAsync("KeyStage2PerformanceTables")
   </div>
    @* <partial name="Shared/_AddtionalInformation"/>
   <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">
         <govuk-summary-list-row id="additional-information" name="key-stage-2-additional-information" label="Additional information" value="@Model.Project.KeyStage2PerformanceAdditionalInformation" asp-page="@Links.KeyStagePerformanceSection.KeyStage2PerformanceTablesAdditionalInformation.Page" asp-fragment="additional-information" asp-route-id="@Model.Project.Id" hidden-text="additional information"/>
      </dl>
      <form method="post">
         <button class="govuk-button" id="confirm-and-continue-button" asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.Project.Id">Confirm and continue</button>
      </form>
    </div> *@
</div>