@page "/task-list/{id:int}/confirm-project-trust-rationale"
@using ApplyToBecomeInternal.ViewModels
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	ViewData["Title"] = "Confirm project and trust rationale";
}

@section BeforeMain
{
	<a back-link-for="@Links.TaskList.Index"></a>
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-l">@Model.Project.SchoolName</span>
		<h1 class="govuk-heading-l">
			Confirm project and trust rationale
		</h1>
		<div class="govuk-body">
			<p>
				This information is pre-populated from the
				<a asp-page="@Links.SchoolApplicationForm.Index.Page" asp-route-id="@Model.Project.Id" target="_blank">school's application form (opens in a new tab)</a>.
			</p>
		</div>
		<dl class="govuk-summary-list">
			@await Html.PartialAsync("_SummaryListRow", new SummaryListRowViewModel(
				"rationale-for-project",
				"Rationale for project",
				Model.Project.RationaleForProject,
				Links.RationaleSection.RationaleForProject.Page,
				Model.Project.Id,
				"project rationale",
				true))
			@await Html.PartialAsync("_SummaryListRow", new SummaryListRowViewModel(
				"rationale-for-trust",
				"Rationale for the trust or sponsor",
				Model.Project.RationaleForTrust,
				Links.RationaleSection.RationaleForTrust.Page,
				Model.Project.Id,
				"sponsor rationale",
				true))
		</dl>
		<form method="post">
			<div class="govuk-form-group">
				@await Html.PartialAsync("_CheckboxInput", new CheckboxInputViewModel(
					"rationale-complete",
					"rationale-complete",
					Model.Project.RationaleSectionComplete,
					"Mark this section as complete, you can still make changes later"))
			</div>

			<input name="SuccessPage" type="hidden" value="@Links.TaskList.Index.Page" />
			<button class="govuk-button" data-module="govuk-button">
				Confirm and continue
			</button>
		</form>
	</div>
</div>
