@page "/task-list/{id:int}/confirm-project-trust-rationale/trust-rationale"
@model ApplyToBecomeInternal.Pages.TaskList.Rationale.RationaleForTrustModel
@{
	ViewData["Title"] = "Trust or sponsor rationale";
}

@section BeforeMain
{
	<a asp-page="@Links.Rationale.RationaleSummary.Page" asp-route-id="@Model.Project.Id" class="govuk-back-link">@Links.Rationale.RationaleSummary.BackText</a>
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<span class="govuk-caption-l">@Model.Project.SchoolName</span>
			<h1 class="govuk-heading-l">Write the rationale for the trust or sponsor</h1>

			<p class="govuk-hint">Explain why the trust is a good match for the school.</p>

			<div class="govuk-form-group">
				<textarea class="govuk-textarea"
						  id="trust-rationale"
						  name="trust-rationale"
						  rows="15"
						  data-module="moj-rich-text-editor"
						  data-moj-rich-text-editor-toolbar="bold,italic,underline,bullets,numbers">@Model.Project.RationaleForTrust</textarea>
			</div>

			<button class="govuk-button" data-module="govuk-button">
				Save and continue
			</button>
		</form>
	</div>

	<partial name="_UsefulInformation" />
</div>
