@page "/groups/project-list"
@model Dfe.PrepareConversions.Pages.Groups.ProjectListModel

@{
    ViewData["Title"] = "Groups";
}

@*           <div class="govuk-inset-text">
    There are no groups yet. Create groups to see them in this list.
    <br/>
    <br/>
    You will be able to edit groups once created.
    </div>
    </div>
    </div>*@

<div if="Model.Filters.IsVisible" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
     data-cy="select-projectlist-filter-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            Projects filtered.
        </h3>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-cy="select-heading">Groups</h1>
        <p class="govuk-body">Schools and academies joining an existing trust together.</p>
        <p class="govuk-body">Groups can include any type of conversion or transfer.</p>
        <a asp-page="@Links.ProjectGroups.CreateANewGroup.Page" draggable="false" class="govuk-button" data-module="govuk-button">
            Create a new group
        </a>
    </div>
    <div class="govuk-inset-text" if="@Model.ProjectCount == 0 && !Model.Filters.IsVisible">
        There are no groups yet. Create groups to see them in this list.
        <br />
        <br />
        You will be able to edit groups once created.
    </div>

    <div class="govuk-grid-column-one-third">
        <partial name="Shared/_ProjectListFilters" model="Model.Filters" />
    </div>
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l" test-id="projectCount" data-cy="select-projectlist-filter-count">@(Model.TotalProjects) project groups found</h2>

        <div if="@Model.ProjectCount == 0 && Model.Filters.IsVisible">
            <div class="govuk-heading-m govuk-!-margin-top-3">There are no matching results.</div>
            <p class="govuk-body">Improve your results by:</p>
            <ul class="govuk-list govuk-list--bullet govuk-body">
                <li>double-checking your spelling</li>
                <li>searching again with another school</li>
                <li>removing some filters</li>
            </ul>
        </div>

        <div if="@Model.ProjectCount > 0">

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Project Groups (@Model.ProjectCount)</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header app-!-width-three-fifths">Groups</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @{
                        <partial name="Shared/_ProjectGroupListRows" model="Model.Projects" />
                    }
                </tbody>
            </table>

            <partial name="Shared/_Pagination" model="Model" />
        </div>
    </div>
</div>
