@page "/project-documents/{id:int}"
@using Dfe.PrepareConversions.Data.Models
@model Dfe.PrepareConversions.Pages.ProjectDocuments.IndexModel
@{
    ViewData["Title"] = "Project documents";
}

@section BeforeMain
{
    <a asp-page="@Model.ReturnPage" asp-route-id="@Model.ReturnId" class="govuk-back-link">@Links.ProjectList.Index.BackText</a>
}

<partial name="Shared/_ProjectHeader" model="Model.Project" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        Application level documents folder <a href="@Model.ApplicationLevelDocumentsFolder" target="_blank">here</a><br />
        School level documents folder <a href="@Model.SchoolLevelDocumentsFolder" target="_blank">here</a>
    </div>

</div>