@page "/task-list/{id:int}/annex-b-form-saved"
@model Dfe.PrepareConversions.Pages.AnnexB.IndexModel
@{
   ViewData["Title"] = "Have you saved the Annex B form";
}

@section BeforeMain
{
   <a asp-page="@Links.ProjectList.Index.Page" class="govuk-back-link">@Links.ProjectList.Index.BackText</a>
}

<partial name="_ProjectHeader" model="@Model.Project"/>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <dl class="govuk-summary-list">

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
               Have you received a completed Annex B form from the school
            </dt>
            <dd class="govuk-summary-list__value">
               <span if="Model.HasLink is false" id="la-info-template-comments" class="empty">Empty</span>
               <span if="Model.HasLink">Yes</span>
            </dd>
            <dd class="govuk-summary-list__actions">
               <a asp-page="@Links.AnnexB.Edit.Page" asp-route-id="@Model.Project.Id" class="govuk-link">
                  Change<span class="govuk-visually-hidden">Annex B form received from the school</span>
               </a>
            </dd>
         </div>

         <div if="Model.HasLink" class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
               SharePoint link
            </dt>
            <dd class="govuk-summary-list__value">
               <a href="@Model.AnnexBLink" target="_blank" rel="noopener" aria-label="Annex B form (opens in a new tab)">@Model.AnnexBLink</a>
            </dd>
            <dd class="govuk-summary-list__actions">
               <a asp-page="@Links.AnnexB.Edit.Page" asp-route-id="@Model.Project.Id" class="govuk-link">
                  Change<span class="govuk-visually-hidden">school application form url</span>
               </a>
            </dd>
         </div>
      </dl>
   </div>
</div>