@page "/task-list/{id:int}/confirm-school-budget-information/additional-information"
@using ApplyToBecomeInternal.Utils
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Model.SuccessPage = Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation.Page;
	ViewData["Title"] = "School budget information additional information";
	var kw = WidthOverride.TwoThirds;
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation"/>
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">@Model.Project.SchoolName</span>
		<h1 class="govuk-heading-l">
			Confirm school budget information
		</h1>
		<div class="govuk-body">
			<p>
				This information comes from the
				<a asp-page="@Links.SchoolApplicationForm.Index.Page" asp-route-id="@Model.Project.Id" target="_blank">school's application form (opens in a new tab)</a>.
				The table will go into your project template.
			</p>
			<p>
				You can add <a href="#additional-information">additional information</a> if you need to, this will also go into your project template.
			</p>
		</div>
	</div>
	<div class="govuk-grid-column-full">
		<dl class="govuk-summary-list">
            <govuk-summary-list-row name="financial-year" label="End of current financial year" key-width="@kw" value="@Model.Project.EndOfCurrentFinancialYear" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="End of current financial year" />
            <govuk-summary-list-row name="finance-year-current" label="Forecasted revenue carry forward at the end of the current financial year" key-width="@kw" value="@Model.Project.RevenueCarryForwardAtEndMarchCurrentYear?.ToMoneyString(true)" highlight-negative-value="true" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Forecasted revenue carry forward at the end of the current financial year" />
            <govuk-summary-list-row name="finance-current-capital" label="Forecasted capital carry forward at the end of the current financial year" key-width="@kw" value="@Model.Project.CapitalCarryForwardAtEndMarchCurrentYear?.ToMoneyString(true)" highlight-negative-value="true" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Forecasted capital carry forward at the end of the current financial year" />
            <govuk-summary-list-row name="next-financial-year" label="End of next financial year" key-width="@kw" value="@Model.Project.EndOfNextFinancialYear" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="End of next financial year" />
            <govuk-summary-list-row name="finance-year-following" label="Forecasted revenue carry forward at the end of the next financial year" key-width="@kw" value="@Model.Project.ProjectedRevenueBalanceAtEndMarchNextYear?.ToMoneyString(true)" highlight-negative-value="true" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Forecasted revenue carry forward at the end of the next financial year" />
            <govuk-summary-list-row name="finance-projected-capital" label="Forecasted capital carry forward at the end of the next financial year" key-width="@kw" value="@Model.Project.CapitalCarryForwardAtEndMarchNextYear?.ToMoneyString(true)" highlight-negative-value="true" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Forecasted capital carry forward at the end of the next financial year" />
		</dl>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h2 class="govuk-heading-m">
				<label for="additional-information">
					Add any additional information if you need to
				</label>
			</h2>
			
			<p class="govuk-body">This information will go into your project template under the school budget information section.</p>

			<govuk-textarea-input id="additional-information" name="school-budget-information-additional-information" asp-for="Project.SchoolBudgetInformationAdditionalInformation" rows="5"/>

			<button class="govuk-button" id="save-and-continue-button" data-module="govuk-button" @Select.Common.SubmitButton.ToData("cy")>
				Save and continue
			</button>
		</form>
	</div>
</div>