@page "/task-list/{id:int}/confirm-school-budget-information/additional-information"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Model.SuccessPage = Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation.Page;
	ViewData["Title"] = "School budget information additional information";
}

@section BeforeMain
{
	<a back-link-for="@Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation"></a>
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">@Model.Project.SchoolName</span>
		<h1 class="govuk-heading-l">
			Confirm school budget information
		</h1>
		<div class="govuk-body">
			<p>
				This information comes from the
				<a asp-page="@Links.SchoolApplicationForm.Index.Page" asp-route-id="@Model.Project.Id" target="_blank">school's application form (opens in a new tab)</a>.
				The table will populate into your headteacher board (HTB) template.
			</p>
			<p>
				You can add <a href="#additional-information">additional information</a> if you need to, this will also go into your HTB template.
			</p>
		</div>
	</div>
	<div class="govuk-grid-column-full">
		<dl class="govuk-summary-list">
			<govuk-summary-list-row name="revenue-carry-forward-current-year" label="Revenue carry forward at end-March (current year) 2021" value="@Model.Project.RevenueCarryForwardAtEndMarchCurrentYear.ToMoneyString(true)" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Revenue carry forward at end-March (current year) 2021" />
			<govuk-summary-list-row name="projected-revenue-balance-next-year" label="Projected revenue balance at end-March (following year) 2022" value="@Model.Project.ProjectedRevenueBalanceAtEndMarchNextYear.ToMoneyString(true)" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Projected revenue balance at end-March (following year) 2022" />
			<govuk-summary-list-row name="capital-carry-forward-current-year" label="Capital carry forward at end-March (current year)" value="@Model.Project.CapitalCarryForwardAtEndMarchCurrentYear.ToMoneyString(true)" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Capital carry forward at end-March (current year)" />
			<govuk-summary-list-row name="projected-capital-balance-next-year" label="Projected capital balance at end-March (following year)" value="@Model.Project.CapitalCarryForwardAtEndMarchNextYear.ToMoneyString(true)" asp-page="@Links.SchoolBudgetInformationSection.UpdateSchoolBudgetInformation.Page" asp-route-id="@Model.Project.Id" hidden-text="Projected capital balance at end-March (following year)" />
		</dl>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h3 class="govuk-heading-m">Additional information</h3>
			<p class="govuk-body">This information will populate into your HTB template under the school budget information section.</p>

			<govuk-textarea-input name="school-budget-information-additional-information" asp-for="Project.SchoolBudgetInformationAdditionalInformation" rows="5" />

			<button class="govuk-button" data-module="govuk-button">
				Save and continue
			</button>
		</form>
	</div>
</div>
