@page "/task-list/{id:int}/confirm-school-budget-information/additional-information"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Model.SuccessPage = Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation.Page;
	ViewData["Title"] = "School budget information additional information";
	var kw = WidthOverride.TwoThirds;
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation" />
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}
<span class="govuk-caption-l">@Model.Project.SchoolName</span>
<h1 class="govuk-heading-l">
	Confirm school budget information
</h1>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="govuk-body">
			<p>
				This information comes from the
				<a asp-page="@Links.SchoolApplicationForm.Index.Page" asp-route-id="@Model.Project.Id" target="_blank">school's application form (opens in a new tab)</a>.
				The table will populate into your headteacher board (HTB) template.
			</p>
			<p>
				You can add <a href="#additional-information">additional information</a> if you need to, this will also go into your HTB template.
			</p>
		</div>
	</div>
	<div class="govuk-grid-column-full">
		<dl class="govuk-summary-list">
			<govuk-summary-list-row name="revenue-carry-forward-current-year" label="Revenue carry forward at end-March (current year) 2021" key-width="@kw" value="@Model.Project.RevenueCarryForwardAtEndMarchCurrentYear?.ToMoneyString(true)" />
			<govuk-summary-list-row name="projected-revenue-balance-next-year" label="Projected revenue balance at end-March (following year) 2022" key-width="@kw" value="@Model.Project.ProjectedRevenueBalanceAtEndMarchNextYear?.ToMoneyString(true)" />
			<govuk-summary-list-row name="capital-carry-forward-current-year" label="Capital carry forward at end-March (current year)" key-width="@kw" value="@Model.Project.CapitalCarryForwardAtEndMarchCurrentYear?.ToMoneyString(true)" />
			<govuk-summary-list-row name="projected-capital-balance-next-year" label="Projected capital balance at end-March (following year)" key-width="@kw" value="@Model.Project.CapitalCarryForwardAtEndMarchNextYear?.ToMoneyString(true)" />
		</dl>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h3 class="govuk-heading-m">Additional information</h3>
			<p class="govuk-body">This information will populate into your HTB template under the school budget information section.</p>

			<govuk-textarea-input id="additional-information" name="school-budget-information-additional-information" asp-for="Project.SchoolBudgetInformationAdditionalInformation" rows="5" />

			<button class="govuk-button" data-module="govuk-button">
				Save and continue
			</button>
		</form>
	</div>
</div>
