@page "/task-list/{id:int}/confirm-school-budget-information/update-school-budget-information"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Model.SuccessPage = Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation.Page;
	ViewData["Title"] = "Update school budget information";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation" />
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}
<span class="govuk-caption-l">@Model.Project.SchoolName</span>
<h1 class="govuk-heading-l">
	School budget information
</h1>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<form method="post">
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="finance-current-year-2021">
					Revenue carry forward at end-March (current year) 2021
				</label>
				<govuk-decimal-input name="finance-current-year-2021" asp-for="@Model.Project.RevenueCarryForwardAtEndMarchCurrentYear"/>
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="finance-following-year-2022">
					Projected revenue balance at end-March (following year) 2022
				</label>
				<div class="govuk-input__wrapper">
					<govuk-decimal-input name="finance-following-year-2022" asp-for="@Model.Project.ProjectedRevenueBalanceAtEndMarchNextYear"/>
				</div>
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="finance-forward-2021">
					Capital carry forward at end-March (current year)
				</label>
				<div class="govuk-input__wrapper">
					<govuk-decimal-input name="finance-forward-2021" asp-for="@Model.Project.CapitalCarryForwardAtEndMarchCurrentYear"/>
				</div>
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="finance-forward-2022">
					Projected capital balance at end-March (following year)
				</label>
				<div class="govuk-input__wrapper">
					<govuk-decimal-input name="finance-forward-2022" asp-for="@Model.Project.CapitalCarryForwardAtEndMarchNextYear"/>
				</div>
			</div>


			<button class="govuk-button" data-module="govuk-button">
				Save and continue
			</button>
		</form>
	</div>
</div>
