@page "/task-list/{id:int}/confirm-school-budget-information/update-school-budget-information"
@using ApplyToBecomeInternal.Utils
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Model.SuccessPage = Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation.Page;
	ViewData["Title"] = "Update school budget information";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.SchoolBudgetInformationSection.ConfirmSchoolBudgetInformation" />
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}
<span class="govuk-caption-l">@Model.Project.SchoolName</span>
<h1 class="govuk-heading-l">
	School budget information
</h1>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<form method="post">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="finance-year-end-date">
                    End of current financial year
				</label>
				<govuk-date-input name="finance-year-end-date" asp-for="@Model.Project.EndOfCurrentFinancialYear"/>
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="finance-year-current">
                    Revenue carry forward at end of current financial year
				</label>
				<govuk-decimal-input name="finance-year-current" asp-for="@Model.Project.RevenueCarryForwardAtEndMarchCurrentYear" isMonetary="true"/>
			</div>
            <div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="finance-current-capital">
                    Capital carry forward at end of current financial year
				</label>
				<govuk-decimal-input name="finance-current-capital" asp-for="@Model.Project.CapitalCarryForwardAtEndMarchCurrentYear" isMonetary="true"/>
			</div>
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="next-finance-year-end-date">
                    End of next financial year
                </label>
                <govuk-date-input name="next-finance-year-end-date" asp-for="@Model.Project.EndOfNextFinancialYear" />
            </div>
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="finance-year-following">
                    Projected revenue balance at end of following financial year
				</label>
				<govuk-decimal-input name="finance-year-following" asp-for="@Model.Project.ProjectedRevenueBalanceAtEndMarchNextYear" isMonetary="true"/>
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--s" for="finance-projected-capital">
                    Projected capital balance at end of following financial year
				</label>
				<govuk-decimal-input name="finance-projected-capital" asp-for="@Model.Project.CapitalCarryForwardAtEndMarchNextYear" isMonetary="true"/>
			</div>

			<button class="govuk-button" id="save-and-continue-button" data-module="govuk-button" @Select.Common.SubmitButton.ToData("cy")>
				Save and continue
			</button>
		</form>
	</div>
</div>
