@page "/task-list/{id:int}/confirm-school-trust-information-project-dates"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Model.SuccessPage = Links.TaskList.Index.Page;
	ViewData["Title"] = "Confirm school and trust information and project dates";
}

@section BeforeMain
{
	<a back-link-for="@Links.TaskList.Index"></a>
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-l">@Model.Project.SchoolName</span>
		<h1 class="govuk-heading-l">
			Confirm school and trust information and project dates
		</h1>
		<div class="govuk-body">
			<p>
				This information is pre-populated from TRAMS and the
				<a asp-page="@Links.SchoolApplicationForm.Index.Page" asp-route-id="@Model.Project.Id" target="_blank">school's application form (opens in a new tab)</a>.
			</p>
		</div>
		<dl class="govuk-summary-list">
			<govuk-summary-list-row name="project-recommendation" label="Recommendation" value="@Model.Project.RecommendationForProject" asp-page="@Links.SchoolAndTrustInformationSection.ProjectRecommendation.Page" asp-route-id="@Model.Project.Id" hidden-text="recommendation" />
			<govuk-summary-list-row name="author" label="Author" value="@Model.Project.Author" asp-page="@Links.SchoolAndTrustInformationSection.Author.Page" asp-route-id="@Model.Project.Id" hidden-text="author" />
			<govuk-summary-list-row name="version" label="Version" asp-for="Project.Version" />
			<govuk-summary-list-row name="cleared-by" label="Cleared by" value="@Model.Project.ClearedBy" asp-page="@Links.SchoolAndTrustInformationSection.ClearedBy.Page" asp-route-id="@Model.Project.Id" hidden-text="cleared by" />
			<govuk-summary-list-row name="academy-order-required" label="Is an academy order (AO) required?" value="@Model.Project.AcademyOrderRequired" asp-page="@Links.SchoolAndTrustInformationSection.AcademyOrderRequired.Page" asp-route-id="@Model.Project.Id" hidden-text="academy order required" />
			<govuk-summary-list-row name="head-teacher-board-date" label="Date of HTB" value="@Model.Project.HeadTeacherBoardDate.ToDateString()" asp-page="@Links.SchoolAndTrustInformationSection.HeadTeacherBoardDate.Page" asp-route-id="@Model.Project.Id" hidden-text="head teacher board date" />
			<govuk-summary-list-row name="previous-head-teacher-board" label="Previous HTB" value="@Model.Project.PreviousHeadTeacherBoardDate.ToDateString()" />
			<govuk-summary-list-row name="school-name" label="School name" asp-for="Project.SchoolName" />
			<govuk-summary-list-row name="unique-reference-number" label="Unique reference number (URN)" asp-for="Project.SchoolURN" />
			<govuk-summary-list-row name="local-authority" label="Local authority" asp-for="Project.LocalAuthority" />
			<govuk-summary-list-row name="trust-reference-number" label="Trust reference number" asp-for="Project.TrustReferenceNumber" />
			<govuk-summary-list-row name="name-of-trust" label="Name of trust" asp-for="Project.NameOfTrust" />
			<govuk-summary-list-row name="sponsor-reference-number" label="Sponsor reference number" asp-for="Project.SponsorReferenceNumber" />
			<govuk-summary-list-row name="sponsor-name" label="Sponsor name" asp-for="Project.SponsorName" />
			<govuk-summary-list-row name="academy-type-and-route" label="Academy type and route" asp-for="Project.AcademyTypeAndRoute" />
			<govuk-summary-list-row name="proposed-academy-opening-date" label="Proposed academy opening date" value="@Model.Project.ProposedAcademyOpeningDate.ToDateString(true)" asp-page="@Links.SchoolAndTrustInformationSection.ProposedAcademyOpeningDate.Page" asp-route-id="@Model.Project.Id" hidden-text="proposed academy opening date" />
		</dl>
		<form method="post">
			<govuk-checkbox-input name="school-and-trust-information-complete" asp-for="Project.SchoolAndTrustInformationSectionComplete" label="Mark this section as complete, you can still make changes later" />

			<button class="govuk-button" data-module="govuk-button">
				Confirm and continue
			</button>
		</form>
	</div>
</div>
